
<div class="container-fuild" >
  <div  class="banner">
    <div class="bg">
      <div class="container " style="margin-right:0;
margin-left: 0; left: 0px; right: 0px;" >
    <div class="slider " id="slide">
        <div class="slide slide1">
          <div class="bg">
            <div class="caption">
              <h2>Xuân</h2>
              <p style="font-size: 13px;">A LUXURIOUS TAKE ON DITA THAT FUSES TIMELESS DESIGN WITH HIGH FUNCTIONAL PERFORMANCE, DITA EPILUXURY SUNGLASSES ARE GENUINE WORKS OF ART. OFFERING 3 DIFFERENT TEMPLE DESIGNS FOR MULTIFUNCTIONAL EYEWEAR, THE PERFECT AESTHETIC IS CLOSER THAN YOU THINK. WHETHER YOUR STYLE IS CLASSIC, ALTERNATIVE OR ECLECTIC, DITA EPILUXURY HAS THE HEAD-TURNING FRAME FOR YOU.</p>
          </div>
            <video id="background-vide" autoplay [muted]="'muted'" controls >
              <source src="assets/img/spring.mp4.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <div class="slide slide2">
          <div class="bg">
            <div class="caption">
              <h2>Hạ</h2>
              <p style="font-size: 13px;">A LUXURIOUS TAKE ON DITA THAT FUSES TIMELESS DESIGN WITH HIGH FUNCTIONAL PERFORMANCE, DITA EPILUXURY SUNGLASSES ARE GENUINE WORKS OF ART. OFFERING 3 DIFFERENT TEMPLE DESIGNS FOR MULTIFUNCTIONAL EYEWEAR, THE PERFECT AESTHETIC IS CLOSER THAN YOU THINK. WHETHER YOUR STYLE IS CLASSIC, ALTERNATIVE OR ECLECTIC, DITA EPILUXURY HAS THE HEAD-TURNING FRAME FOR YOU.</p>
          </div>
            <video id="background-vide" autoplay [muted]="'muted'" controls >
              <source src="assets/img/summer.mp4.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <div class="slide slide3">
          <div class="bg">
            <div class="caption">
              <h2>Thu</h2>
              <p style="font-size: 13px;">A LUXURIOUS TAKE ON DITA THAT FUSES TIMELESS DESIGN WITH HIGH FUNCTIONAL PERFORMANCE, DITA EPILUXURY SUNGLASSES ARE GENUINE WORKS OF ART. OFFERING 3 DIFFERENT TEMPLE DESIGNS FOR MULTIFUNCTIONAL EYEWEAR, THE PERFECT AESTHETIC IS CLOSER THAN YOU THINK. WHETHER YOUR STYLE IS CLASSIC, ALTERNATIVE OR ECLECTIC, DITA EPILUXURY HAS THE HEAD-TURNING FRAME FOR YOU.</p>
          </div>
            <video id="background-vide" autoplay [muted]="'muted'" controls >
              <source src="assets/img/autumn.pm4.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <div class="slide slide4">
          <div class="bg">
            <div class="caption">
              <h2>Đông</h2>
              <p style="font-size: 13px;">A LUXURIOUS TAKE ON DITA THAT FUSES TIMELESS DESIGN WITH HIGH FUNCTIONAL PERFORMANCE, DITA EPILUXURY SUNGLASSES ARE GENUINE WORKS OF ART. OFFERING 3 DIFFERENT TEMPLE DESIGNS FOR MULTIFUNCTIONAL EYEWEAR, THE PERFECT AESTHETIC IS CLOSER THAN YOU THINK. WHETHER YOUR STYLE IS CLASSIC, ALTERNATIVE OR ECLECTIC, DITA EPILUXURY HAS THE HEAD-TURNING FRAME FOR YOU.</p>
          </div>
            <video id="background-vide" autoplay [muted]="'muted'" controls >
              <source src="assets/img/winter.mp4.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <div class="slide slide1">
          <div class="bg">
            <div class="caption">
              <h2>Xuân</h2>
              <p style="font-size: 13px;">A LUXURIOUS TAKE ON DITA THAT FUSES TIMELESS DESIGN WITH HIGH FUNCTIONAL PERFORMANCE, DITA EPILUXURY SUNGLASSES ARE GENUINE WORKS OF ART. OFFERING 3 DIFFERENT TEMPLE DESIGNS FOR MULTIFUNCTIONAL EYEWEAR, THE PERFECT AESTHETIC IS CLOSER THAN YOU THINK. WHETHER YOUR STYLE IS CLASSIC, ALTERNATIVE OR ECLECTIC, DITA EPILUXURY HAS THE HEAD-TURNING FRAME FOR YOU.</p>
          </div>
            <video id="background-vide" autoplay [muted]="'muted'" controls >
              <source src="assets/img/spring.mp4.mp4" type="video/mp4">
            </video>
          </div>
        </div>

    </div>

</div>
    </div>
    <div class="content text-light ">
      <div class="row text-center">
        <h4 class="h4">Bộ sưu tập Bốn Mùa </h4>
      </div>
      <div class="row nut  ">
        <div class="col">
          <button>Xuân</button>
        </div>
        <div class="col">
          <button>Hạ</button>
        </div>
        <div class="col">
          <button>Thu</button>
        </div>
        <div class="col">
          <button>Đông</button>
        </div>
      </div>

    </div>
  </div>
  </div>


