<div class="container-fluid" style="background-color: rgb(255, 255, 255); padding-left: 0;padding-right: 0;">
  <div class="container-fluid text-center" style="justify-content: space-between;">
    <div class="row align-items-end " >
      <div class="headercheck"  style="color: rgb(0, 0, 0);" >
        <p style="font-weight: 1000;" class="footer-cta pt-5 pb-5">SƠ ĐỒ TRANG WEB</p>
      </div>
      <div class="headercheck container-fluid  "  style="padding-top: 50px; color: rgb(0, 0, 0); background-color: #f0f0f0;padding-bottom: 20px;" >
        <div class="headercheck"  style="color: rgb(0, 0, 0); background-color: #f0f0f0;" >
          <p style="font-weight: 1000; padding-bottom: 30px; margin-bottom: 0;">CỬA HÀNG</p>
        </div>
        <p>-------------------------------------</p>
        <div class="headercheck"  style="padding-top: 30px; color: rgb(0, 0, 0); background-color: #f0f0f0;" >
          <p style="font-weight: 1000;">DỊCH VỤ TƯ VẤN KHÁCH HÀNG</p>
        </div>
        <p >LIÊN HỆ VỚI CHÚNG TÔI </p>
        <p >CÂU HỎI THƯỜNG GẶP </p>
        <p style="margin-bottom: 0;">DỊCH VỤ CHĂM SÓC</p>
      </div>
      <p style="background-color: #f0f0f0; margin-bottom: 0; color: rgb(0, 0, 0);">-------------------------------------</p>
      <div class="headercheck"  style="padding-top: 30px; color: rgb(0, 0, 0); background-color: #f0f0f0;" >
        <p style="font-weight: 1000;">ĐỀ XUẤT </p>
      </div>
    </div>
  </div>
</div>
