
<div style="background-color: rgb(255, 255, 255);">
  <div class="container" style="background-color: rgb(255, 255, 255);color: rgb(0, 0, 0);">
    <div style="text-align: center; padding-top: 50px;">
      <h3>Lizrard </h3>
      <h1>Luôn Cố Gắng Và Phát Triển</h1>
    </div>
    <div class="container" style="padding-top: 50px;text-align: center;">
      <div class="row">
        <div class="col-sm" >
          <a href="mentor" style="color: rgb(0, 0, 0);list-style: none; text-decoration: underline;">Tất Cả</a>
        </div>
        <div class="col-sm">
          <a href="fandd" style="color: rgb(0, 0, 0);list-style: none;text-decoration: none">Sự Hình Thành Và Phát Triển</a>
        </div>
        <div class="col-sm">
          <a href="bandf" style="color: rgb(0, 0, 0);list-style: none;text-decoration: none">Dịch Vụ Của Lizard</a>
        </div>
        <div class="col-sm">
        <a href="check7" style="color: rgb(0, 0, 0);list-style: none;text-decoration: none">Liz Team</a>
        </div>
        <div class="col-sm">
          <a href="check8" style="color: rgb(0, 0, 0);list-style: none;text-decoration: none">Phát Triển Bền Vững </a>
        </div>
      </div>
    </div>
    <h1 style="padding-top: 50px;">LizTeam</h1>
    <p style="text-align: center; padding-bottom: 50px;">những người đam mê code</p>
    <div >
      <img src="assets\img\travel.jpg" alt="" width="100%">
    </div>
    <div style="text-align: center; padding-top: 25px;">
      <h5>Các Thành Viên Của LizTeam</h5>
      <h3>Nguyễn Ngọc Hùng</h3>
      <h3>Phạm Ngọc Dũng</h3>
      <h3>Đỗ Việt Anh</h3>
      <h3>Minh Hoàng</h3>
      <h5>26/05</h5>

    </div>
    <div style="text-align: center; padding-top: 50px;">
      <button style="background-color:#202020; color: white; width: 400px;height: 50pxpx;"> Thông Tin Các Thành Viên Nhóm</button>
    </div>
    <div style="padding-top: 50px;">
      <h1> Sự Hình Thành Và Phát Triển </h1>
      <p style="text-align: center; padding-bottom: 50px;">khám phá sự hình thành và phát triển của LizTeam</p>
      <div style="display: flex; justify-content: space-around;">
        <div style="width: 450px">
          <a href="index.html"><img width="100%" src="https://i.pinimg.com/236x/d1/a7/67/d1a767238ec823ea952981e388edc145.jpg" ></a>
          <p style="text-align: center;">HÌNH THÀNH</p>
          <ul>
              <li> Trang web của chúng tôi được tạo ra với mục đích tiếp đem lại giá trị thời trang cho tất cả mọi người .</li>
              <li>  Từ việc phát triển chung dự án các thành viên của LizTeam đã tạo ra Lizard .</li>
              <li> Sự hình thành của  được xây dựng bởi 4 thành viên mỗi người phụ trách 1 công việc cho Team.</li>
              <li>Trên bước đầu phát triển, chúng tôi luôn cố gắng tối ưu hóa trải nghiệm người dùng. Cảm ơn bạn đã đọc bài viết và sử dụng dịch vụ của chúng tôi!</li>
            </ul>
        </div>
        <div style="width: 450px">
          <a href="index.html"><img width="100%" src="https://i.pinimg.com/236x/d1/a7/67/d1a767238ec823ea952981e388edc145.jpg" ></a>
          <p style="text-align: center;">PHÁT TRIỂN</p>
            <ul>
              <li> Chúng tôi sẽ luôn phát triển tìm xu hướng.</li>
              <li> Không chỉ dừng lại ở dự án nhỏ chúng tôi sẽ phát triển hướng tới tương lai của mỗi thành viên và mong muốn của họ của khách hàng </li>
              <li> Phát triển từ các buổi học trên lớp. APTECH mang đến cho chúng tôi nguồn cảm hứng để tạo ra trang web đầu tiên của mình. Được thành lập từ năm 2022, chúng tôi cam kết sẽ phát triển trong tương lai để mang thương hiệu đến gần bạn hơn. </li>
            </ul>
        </div>
      </div>
      <div style="text-align: center; padding-top: 50px;">
        <button style="background-color:#202020; color: white; width: 400px;height: 50pxpx;"> Khám Phá Sự Hình Thành Và Phát Triển</button>
      </div>

    </div>
    <div style="padding-top: 50px;">
      <h1>Dịch Vụ Của Lizard</h1>
      <p style="text-align: center;">Đem Lại Dịch Vụ Tốt Nhất Cho Khách Hàng</p>
      <div style="text-align: center;">
        <div class="footer-content pt-5 pb-5 footer-cta"style="text-align: center;">
          <div class="row">
              <div class="col-xl-4 col-lg-4 mb-50">
                  <div class="footer-widget">
                    <div class="footer-widget-heading" >
                      <a href="index.html"><img width="100%" src="https://i.pinimg.com/236x/d1/a7/67/d1a767238ec823ea952981e388edc145.jpg" ></a>
                  </div>
                      <div class="footer-text">
                          <p class="footer-widget-heading">Chúng tôi có thể giúp gì cho quý khách?</p>
                          <p>Các Chuyên viên Tư vấn Khách hàng của Louis Vuitton rất hân hạnh hỗ trợ quý khách</p>
                      </div>
                      <div class="footer-social-icon">
                          <a href="https://www.facebook.com">Liên Hệ Chúng Tôi</a>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 mb-50">
                <div class="footer-widget">
                  <div class="footer-widget-heading">
                    <a style="width: 100%;" href="index.html"><img width="100%" src="https://i.pinimg.com/236x/ff/84/f8/ff84f8445b4031a3c2db5a4f1e17c20d.jpg" ></a>
                </div>
                    <div class="footer-text">
                        <p class="footer-widget-heading">Nghệ thuật tặng quà</p>
                        <p>Chọn món quà hoàn hảo từ những sản phẩm được tuyển chọn đặc biệt.</p>
                    </div>
                    <div class="footer-social-icon">
                        <a href="https://www.facebook.com">Quà Tặng Cho Nữ</a>
                        <a href="https://twitter.com/">Quà Tặng Cho Nam</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 mb-50">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <a href="index.html"><img width="100%" src="https://i.pinimg.com/236x/b6/f4/1e/b6f41e6e1e74c6824b15ed4b9554283e.jpg" ></a>
              </div>
                  <div class="footer-text">
                    <p class="footer-widget-heading">Dịch vụ cá nhân hóa</p>
                    <p>Dịch vụ cá nhân hóa của Louis Vuitton mang đến nhiều lựa chọn đa dạng</p>
                  </div>
                  <div class="footer-social-icon">
                      <a href="https://www.facebook.com">Khám Phá Bộ Sưu Tập</a>
                  </div>
              </div>
          </div>
          </div>
      </div>
      </div>
      <div style="text-align: center; padding-top: 50px;">
        <button style="background-color:#202020; color: white; width: 400px;height: 50pxpx;"> Khám Phá Dịch Vụ Của Lizard</button>
      </div>

    </div>
    <div style="padding-top: 50px;">
      <h1>Phát Triển Bền Vững</h1>
      <p style="text-align: center;">Tìm hiểu về Hành trình cam kết của Lizard, bao gồm những cam kết, mục tiêu và hoạt động hướng tới tương lai phát triển bền vững.</p>
      <div style="text-align: center;">
        <div class="footer-content pt-5 pb-5 footer-cta"style="text-align: center;">
          <div class="row">
              <div class="col-xl-4 col-lg-4 mb-50">
                  <div class="footer-widget">
                    <div class="footer-widget-heading" >
                      <a href="index.html"><img width="100%" src="https://i.pinimg.com/236x/d1/a7/67/d1a767238ec823ea952981e388edc145.jpg" ></a>
                  </div>
                      <div class="footer-text">
                          <p class="footer-widget-heading">- CAM KẾT</p>
                          <h2>Lizard & People For Wildlife</h2>
                      </div>
                      <div class="footer-social-icon">
                          <a href="https://www.facebook.com">Liên Hệ Chúng Tôi</a>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 mb-50">
                <div class="footer-widget">
                  <div class="footer-widget-heading">
                    <a style="width: 100%;" href="index.html"><img width="100%" src="https://i.pinimg.com/236x/ff/84/f8/ff84f8445b4031a3c2db5a4f1e17c20d.jpg" ></a>
                </div>
                    <div class="footer-text">
                        <p class="footer-widget-heading">- CÁC HẠNG MỤC CHÍNH</p>
                        <h2>Hành Trình Cam Kết Phát Triển Bền Vững</h2>
                    </div>
                    <div class="footer-social-icon">
                        <a href="https://www.facebook.com">Quà Tặng Cho Nữ</a>
                        <a href="https://twitter.com/">Quà Tặng Cho Nam</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 mb-50">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <a href="index.html"><img width="100%" src="https://i.pinimg.com/236x/b6/f4/1e/b6f41e6e1e74c6824b15ed4b9554283e.jpg" ></a>
              </div>
                  <div class="footer-text">
                    <p class="footer-widget-heading">- CÁC HẠNG MỤC CHÍNH</p>
                    <h2>Nguồn Cung Ứng Có Trách Nhiệm</h2>
                  </div>
                  <div class="footer-social-icon">
                      <a href="https://www.facebook.com">Khám Phá Bộ Sưu Tập</a>
                  </div>
              </div>
          </div>
          </div>
      </div>
      </div>
      <div style="text-align: center; padding-top: 50px;">
        <button style="background-color:#202020; color: white; width: 400px;height: 50pxpx;"> Khám Phá Phát Triển Bền Vững</button>
      </div>

    </div>

  </div>
  <div style=" padding-top: 50px;">
    <div style="text-align: center; padding-top: 50px;width: 100%;padding-bottom: 50px;background-color: #f0f0f0;color: rgb(0, 0, 0);">
      <h6 style="text-align: center; padding-top: 20px">Thư Điện Tử </h6>
      <h1 style="text-align: center; padding-top: 20px;padding-bottom: 20px;">THÔNG TIN MỚI NHẤT TỪ THẾ GIỚI CỦA Lizard</h1>
      <button style="background-color: black; color: white; width: 250px;height: 50px;"> Đăng Ký </button>
      <h6 style="text-align: center; padding-top: 20px">Hãy là khách hàng đầu tiên cập nhật thông tin mới nhất về các sản phẩm, dịch vụ và sự kiện của Louis Vuitton. Theo dõi chúng tôi trên</h6>
      <div class="container" style="text-align: center; padding-top: 50px">
        <div class="row">
          <div class="col ">
           INSTAGRAM
          </div>
          <div class="col">
            FACEBOOK
          </div>
          <div class="col">
            TWITTER
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
