<main class="container">
    <!--Left/Image-->
    
  
      <div class="left-column" [class.active]="image === activeImage" *ngFor="let image of images" >
  
        <img [src]="image" [class.active]="image === activeImage" alt=" "style="width: 100%; height: 100%; object-fit: contain;"/>
        <!-- <img src={{image}} /> -->
  
      </div>
    <!--Right/Info-->
    <div class="right-column">
      <!--Product description-->
      <div class="product-description">
        <span>{{productName}}</span>
        <h1>$ {{productPrice}}</h1>
        <p>
          {{productDescription}}
        </p>
      </div>
      <!-- Product Configuration -->
      <div class="product-configuration">
        <!-- Product image -->
        <div class="product-image">
          <span>image</span>
          <div class="image-choose">
            <div *ngFor="let image of images">
              <input
                type="radio"
                [id]="image"
                [name]="'image'"
                [value]="image"
                [checked]="image === activeImage"
                (change)="onImageInputChange(image)"
              />
              <label [for]="image"
                ><span [style.background-image]="'url(' + image + ')'"></span
              ></label>
            </div>
          </div>
        </div>
        <!-- Size-->
        <div class="size">
          <span>Size</span>
          <div class="size-choose">
            <button>Small</button>
            <button>Medium</button>
            <button>Big</button>
          </div>
        </div>
      </div>
      <!-- Add to cart -->
      <div class="addToCart">
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>
  </main>
  