<div class="body">
  <div class="row container-fuild text-center" style="background-color: #ffffff; justify-content: space-between;width: 100%; height: 90px;">
    <div class=" row  " style="background-color:#ffffff; backdrop-filter: blur(5px); ">
      <div class="container headercheck"  style=" color: rgb(0, 0, 0); margin: auto;padding-right: calc(var(--bs-gutter-x) * 3);
      padding-left: calc(var(--bs-gutter-x) * 3);"  >
        <p style="margin-top: revert;">Tất Cả Sản Phẩm</p>
        <div class="buttomm" style="justify-content: center;align-items: center; margin: auto; margin-right: 0;">
            <ng-template #content let-offcanvas>
            <div class="offcanvas-header">
              <h4 class="offcanvas-title">HIỆN BỘ LỌC</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
            </div>
            <div class="offcanvas-body">
              <p>One fine body</p>
              <div class="text-end">
                <button type="button" class="btn btn-outline-dark" >HIỆN XXX SẢN PHẨN</button>
              </div>
            </div>
          </ng-template>

          <button class="btn btn-outline-secondary "(click)="openEnd(content)" style="background-color: black;">Lọc <i style="font-weight:500;" class="bi bi-filter-left"></i></button>
        </div>


      </div>
    </div>
  </div>


  <div class="container-fuild" >
    <div  class="banner">
      <div class="bg">
        <video id="background-vide" autoplay [muted]="'muted'" controls >
          <source src="assets/img/fashion2.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>

    <!--BST mới nhất-->
  <div class="container-fuild">
    <div class="banner">
        <div class="bgg">
          <img [src]="menuImages.get('e1')" style="background-size: cover; background-position: center; width: 100%;">
        </div>
        <div class="content text-light ">
          <div class="row text-center">
            <h4 class="h4">{{menuName.get('e1')}}</h4>
          </div>
        </div>
    </div>
  </div> 

  <div class="check">
    <div class="row" >
      <div class="col" *ngFor="let product of visibleNewCollection">
        <div [ngClass]="{ 'hide-product': product.id_menu !== 'e1' }"> 
          <div class="containe a img-rounded img-responsive" [style.background-image]="'url(' + firstImage(product.images) + ')' " style="background-repeat: no-repeat; background-position: center; background-size: cover;">
              <div class="overlay">
                <ngb-carousel *ngIf="product.images">
                  <ng-template ngbSlide *ngFor="let image of product.images">
                    <div class="picsum-img-wrapper">
                      <a (click)="navigateToDetail(product.id_product)"><img [src]="image" /></a>
                    </div>
                    <div class="carousel-caption">
                      <h3 style="background-color: rgba(212, 55, 0, 0.5);  color:white;">{{ product.name_product }}</h3>
                      <p style="background-color: rgba(212, 55, 0, 0.5); color:white;">{{ product.title_product}}</p>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="abc">
    <div class="controls">
      <button class="btn1" (click)="prevPage()" [disabled]="currentPage === 1"><a>Previous</a></button>
      <button class="btn1" (click)="nextPage()" [disabled]="currentPage === totalPages()"><a>Next</a></button>
    </div>
  </div>
  
  <!--BST Nam-->
      
  <div class="container-fuild">
    <div class="banner">
        <div class="bgg">
          <img [src]="menuImages.get('e5')" style="background-size: cover; background-position: center; width: 100%;">
        </div>
        <div class="content text-light ">
          <div class="row text-center">
            <h4 class="h4">{{menuName.get('e5')}}</h4>
          </div>
        </div>
    </div>
  </div>

  <div class="check">
    <div class="row" style="width: 100%;" >
      <div class="col" *ngFor="let product of visibleManProducts">
        <div [ngClass]="{ 'hide-product': product.id_gender !== 'c1' }"> <!--Thay thế e2 bằng các id_menu tương ứng-->
          <div class="containe a img-rounded img-responsive" [style.background-image]="'url(' + firstImage(product.images) + ')' " style="background-repeat: no-repeat; background-position: center; background-size: cover">
              <div class="overlay">
                <ngb-carousel *ngIf="product.images">
                  <ng-template ngbSlide *ngFor="let image of product.images">
                    <div class="picsum-img-wrapper">
                      <a (click)="navigateToDetail(product.id_product)"><img [src]="image" /></a>
                    </div>
                    <div class="carousel-caption">
                      <h3 style="background-color: rgba(212, 55, 0, 0.5);  color:white;">{{ product.name_product }}</h3>
                      <p style="background-color: rgba(212, 55, 0, 0.5); color:white;">{{ product.title_product}}</p>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="abc">
    <div class="controls">
      <button class="btn1" (click)="prevPage1()" [disabled]="currentPage === 1"><a>Previous</a></button>
      <button class="btn1" (click)="nextPage1()" [disabled]="currentPage === totalPages1()"><a>Next</a></button>
    </div>
</div> 
      
  <!--BST nữ-->
  <div class="container-fuild">
    <div class="banner">
        <div class="bgg">
          <img [src]="menuImages.get('e6')" style="background-size: cover; background-position: center; width: 100%;">
        </div>
        <div class="content text-light ">
          <div class="row text-center">
            <h4 class="h4">{{menuName.get('e6')}}</h4>
          </div>
        </div>
    </div>
  </div> 

  <div class="check">
    <div class="row" style="width: 100%;" >
      <div class="col" *ngFor="let product of visibleWomanProducts">
        <div [ngClass]="{ 'hide-product': product.id_gender !== 'c2' }"> <!--Thay thế e2 bằng các id_menu tương ứng-->
          <div class="containe a img-rounded img-responsive" [style.background-image]="'url(' + firstImage(product.images) + ')' " style="background-repeat: no-repeat; background-position: center; background-size: cover">
              <div class="overlay">
                <ngb-carousel *ngIf="product.images">
                  <ng-template ngbSlide *ngFor="let image of product.images">
                    <div class="picsum-img-wrapper">
                      <a (click)="navigateToDetail(product.id_product)"><img [src]="image" /></a>
                    </div>
                    <div class="carousel-caption">
                      <h3 style="background-color: rgba(212, 55, 0, 0.5);  color:white;">{{ product.name_product }}</h3>
                      <p style="background-color: rgba(212, 55, 0, 0.5); color:white;">{{ product.title_product}}</p>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="abc">
    <div class="controls">
      <button class="btn1" (click)="prevPage2()" [disabled]="currentPage === 1"><a>Previous</a></button>
      <button class="btn1" (click)="nextPage2()" [disabled]="currentPage === totalPages2()"><a>Next</a></button>
    </div>
</div>


</div> <!--End div body-->

