<footer class="footer-section">
  <div class="container">
      <div class=" pt-5 pb-5"style="text-align: center;">
          <div class="row">
                  <div class="single-cta">
                      <div class="cta-text">
                          <h4>DỊCH VỤ CỦA LIZARD</h4>
                      </div>
                </div>
          </div>
      </div>
      <div class="footer-content pt-5 pb-5 footer-cta"style="text-align: center;">
          <div class="row">
              <div class="col-xl-4 col-lg-4 mb-50">
                  <div class="footer-widget">
                    <div class="footer-widget-heading" >
                      <a href="index.html"><img width="100%" src="https://i.pinimg.com/236x/d1/a7/67/d1a767238ec823ea952981e388edc145.jpg" ></a>
                  </div>
                      <div class="footer-text">
                          <p class="footer-widget-heading">Chúng tôi có thể giúp gì cho quý khách?</p>
                          <p>Các Chuyên viên Tư vấn Khách hàng của Louis Vuitton rất hân hạnh hỗ trợ quý khách</p>
                      </div>
                      <div class="footer-social-icon">
                          <a href="https://www.facebook.com">Liên Hệ Chúng Tôi</a>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 mb-50">
                <div class="footer-widget">
                  <div class="footer-widget-heading">
                    <a style="width: 100%;" href="index.html"><img width="100%" src="https://i.pinimg.com/236x/ff/84/f8/ff84f8445b4031a3c2db5a4f1e17c20d.jpg" ></a>
                </div>
                    <div class="footer-text">
                        <p class="footer-widget-heading">Nghệ thuật tặng quà</p>
                        <p>Chọn món quà hoàn hảo từ những sản phẩm được tuyển chọn đặc biệt.</p>
                    </div>
                    <div class="footer-social-icon">
                        <a href="https://www.facebook.com">Quà Tặng Cho Nữ</a>
                        <a href="https://twitter.com/">Quà Tặng Cho Nam</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 mb-50">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <a href="index.html"><img width="100%" src="https://i.pinimg.com/236x/b6/f4/1e/b6f41e6e1e74c6824b15ed4b9554283e.jpg" ></a>
              </div>
                  <div class="footer-text">
                    <p class="footer-widget-heading">Dịch vụ cá nhân hóa</p>
                    <p>Dịch vụ cá nhân hóa của Louis Vuitton mang đến nhiều lựa chọn đa dạng</p>
                  </div>
                  <div class="footer-social-icon">
                      <a href="https://www.facebook.com">Khám Phá Bộ Sưu Tập</a>
                  </div>
              </div>
          </div>
          </div>
      </div>
  </div>
</footer>
