<div class="check6" style="background-color: #ffffff;padding-bottom: 50px;">
    <div class="container" style="padding-top: 50px;" >
      <div class="row">
         <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" style="position: relative;">
          <li class="nav-item" style="justify-content: start; position: absolute; left: 0;align-items: center; bottom: 10%;color: rgb(0, 0, 0);font-weight: bold;" >
           MyAcc
          </li>
          <li [ngbNavItem]="1">
            <p ngbNavLink style="width: 200px; text-align: center;">Tổng Quan</p>
            <ng-template ngbNavContent>
              <div class="container-fluid userr pb-5" style="background:url(https://i.pinimg.com/564x/f3/63/cb/f363cb3844227c2d9a8c228604672a4a.jpg) ,no-repeat 100% ; position: relative; height: 310px;">
                <section class="ss1">
                    <div class="rounded-circle text-center align-self-center" style="width: 100px;height: 100px;margin: auto;background-color: black;color: aliceblue;">
                        <div class="row" style="justify-content: center;align-items: center; vertical-align: middle; height: 100%;">
                            <div class="col">
                                 <p style="font-size: 38;" >N.H</p>
                            </div>
  
                        </div>
  
                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="col">
                            <p style="font-weight: 600;">
                                 nguyen hung
                            </p>
  
                        </div>
  
                    </div>
  
                </section>
            </div>
            <section class=" mt-5" style="padding-top: 80px;">
                <div class="container">
                    <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="row pb-5">
                                <p style="font-size: 38px; font-weight: 650;text-transform: uppercase;">Tài khoản của tôi</p>
  
                            </div>
                            <div class="row pb-2">
                                <p>Email:tttttttt</p>
  
                            </div>
                            <div class="row" style="font-size: 28px; font-weight: 650;text-transform: uppercase;">
                                <p>tùy chọn liên hệ</p>
  
                            </div>
                            <div class="col text-center" style="height: 100px;" >
                                thư điện tử
                                <div class="row align-items-center" style="height: 100%;">
                                    <div class="svg-wrapper" style="">
                                        <svg viewBox="0 0 80 80" focusable="false" aria-hidden="true"  class="ui-icon-informations-email"><path d="M41.1 39a10.7 10.7 0 0 1-4.6-1.1C32.5 36 3.8 20.6 2.6 20S-.3 17.4.1 15.8s3.8-3.1 5.1-3.2h69.7c2.7 0 4.5 1 4.9 2.7s-1.7 4-2.6 4.6C73.5 22.7 48.8 36 45.4 37.8a8 8 0 0 1-4.3 1.2zm-2.3-5.9c2.3 1.1 3.6.3 3.7.3l.3-.2c8.5-4.6 21.2-11.6 27.5-15.3H10c8.7 4.7 25.9 13.8 28.8 15.2zm34 34.4H7C3.4 67.4.4 64.1.4 60.2V28.5A3.8 3.8 0 0 1 2.2 25c2-1.2 4.2.1 5.9 1.1h.2c11.3 7 28.9 16.7 32.8 16.7 1.7 0 8-2.2 31.2-16.8 1.7-1.3 3.7-2.7 5.7-1.8a3.6 3.6 0 0 1 2 3.5v32.5a7.1 7.1 0 0 1-7.2 7.2zM5.7 30.9v29.3c0 1 .8 1.9 1.3 1.9h65.8a1.8 1.8 0 0 0 1.9-1.9V30.9C50.5 46.2 44.1 48.3 41.1 48.3c-6.8 0-30.5-14.4-35.4-17.4" fill-rule="evenodd"></path></svg>
  
                                        </div>
                                </div>
                            </div>
                            <div class="col text-center">
                                thư điện tử
                                <div class="row align-items-center" style="height: 100%;">
                                    <div class="svg-wrapper">
                                        <svg viewBox="0 0 80 80" focusable="false" aria-hidden="true" class="ui-icon-controls-contact"><path d="M46.8 9.4H33.6a2.9 2.9 0 0 0 0 5.9h13.2a2.9 2.9 0 1 0 0-5.9zm0 54.1H33.6a2.9 2.9 0 0 0 0 5.9h13.2a2.9 2.9 0 1 0 0-5.9zM54.2 0a10.9 10.9 0 0 1 10.9 10.8v58.4A10.9 10.9 0 0 1 54.2 80H25.8a10.9 10.9 0 0 1-10.9-10.8V10.8A10.9 10.9 0 0 1 25.8 0zm5 10.8v58.4a5 5 0 0 1-5 5H25.8a5 5 0 0 1-5-5V10.8a5 5 0 0 1 5-5h28.4a5 5 0 0 1 5 5" fill-rule="evenodd"></path></svg>
  
                                        </div>
                                </div>
                            </div>
                            <div class="col text-center">
                                thư điện tử
                                <div class="row align-items-center" style="height: 100%;">
                                    <div class="svg-wrapper">
                                        <svg viewBox="0 0 80 80" focusable="false" aria-hidden="true" class="ui-icon-social-chat"><path d="M74.9 7.9H5.1A5.1 5.1 0 0 0 0 13v44.3a5.1 5.1 0 0 0 5.1 5.1h11.3v6.2a3.5 3.5 0 0 0 3.5 3.5l1.4-.3 21.9-9.4h31.7a5.1 5.1 0 0 0 5.1-5.1V13a5.1 5.1 0 0 0-5.1-5.1zM5.1 57.7a.4.4 0 0 1-.4-.4V13a.4.4 0 0 1 .4-.4h69.8a.4.4 0 0 1 .4.4v44.3a.4.4 0 0 1-.4.4H42.3l-21.2 9.1v-9.1z" fill-rule="evenodd"></path></svg>
  
                                        </div>
                                </div>
                            </div>
                            <div class="col text-center">
                                thư điện tử
                                <div class="row align-items-center" style="height: 100%;">
                                    <div class="svg-wrapper">
                                        <svg viewBox="0 0 80 80" focusable="false" aria-hidden="true" class="ui-icon-navigation-newsletter"><path d="M5.2 28.2l35.1 37.2.2.2 34.3-37.3v41.6H5.2zm3.4-4h5.7v6zm57 0h5.8l-5.8 6.3zm-46 11.6V10.1h40.8v26.1l-20 21.7zM14.3 4.9V19H0v56.1h80V19H65.7V4.9z" fill-rule="evenodd"></path></svg>
  
                                        </div>
                                </div>
                            </div>
                            <div class="row text-center pb-5 pt-4">
                                <button style="width: 100%;">Chỉnh sửa hồ sơ của tôi </button>
                            </div>
                                <div class="row" >
                                    <p style="font-size: 38px; font-weight: 650;text-transform: uppercase;">
                                      Giỏ Hàng
                                    </p>
  
                                </div>
  
                                <div class="scroll" style="z-index: 999;overflow-y: auto; padding: unset; " >
                                  <table class="table table-bordered table-hover container" style="z-index: 999;padding-top: 5rem;  background-color: rgba(255, 255, 255, 0.886); text-align: center; ">
                                      <thead >
                                      <tr>
  
                                          <th>Số Thứ Tự</th>
                                          <th>Ảnh</th>
                                          <th>Xóa</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                          <tr style="vertical-align: middle;">
                                              <td ></td>
                                              <td ><img src="" width="80px" height="80px" alt=""></td>
                                              <td> <button class="btn btn-sm btn-danger" ><i class="bi bi-trash-fill"></i></button></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                                <div class="col" style="padding: unset;">
                                    <button style="width: 100%;">Thanh Toán </button>
                                </div>
                        </div>
                    </div>
                    <div class="col">
                       <div class="row" style="font-size: 38px; font-weight: 650;text-transform: uppercase;">
                        <p>
                             đơn đặt hàng của tôi
                        </p>
  
                       </div>
                       <div class="row text-center">
                        <p style="font-size: 18px; font-weight: 500; text-transform: uppercase;">
                             hiện chưa có đơn nào
                        </p>
  
                       </div>
                       <div class="row text-center" >
                        <div class="col">
                             <button style="width: 100%;">bắt đầu mua hàng</button>
                        </div>
  
                    </div>
                    </div>
                </div>
                </div>
  
            </section>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <div class="d-grid gap-2 col-6 mx-auto" style="padding-top:  50px;text-align: center;">
          <button  (click)="logout()">Đăng Xuất</button>
        </div>
      </div>
    </div>
  
    </div>
  
  
  