<div class="check6" style="background-color: white">
  <div class="container" style="padding-top: 50px;" >
    <div class="row">
       <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" style="position: relative;">
        <li class="nav-item" style="justify-content: start; position: absolute; left: 0;align-items: center; bottom: 10%;color: rgb(0, 0, 0);font-weight: bold;" >
          LEGAL & PRIVACY
        </li>
        <li [ngbNavItem]="1">
          <button ngbNavLink>CHÍNH SÁCH VỀ QUYỀN RIÊNG TƯ</button>
          <ng-template ngbNavContent>
            <div style="display: flex;">
              <div class="col-8"style="">

              <div class="textt" style="padding-right: 40px;line-height: 1.5rem">
                <div class="headercheck"  style="padding-top: 50px; color: black;" >
                  <h4> CHÍNH SÁCH VỀ QUYỀN RIÊNG TƯ</h4>
                  <p>Mục đích của Chính sách về quyền riêng tư này ("Chính sách") là mô tả cách thức Công ty TNHH Lizard Việt Nam ("Lizard"), một công ty Việt Nam có trụ sở đăng ký tại Phòng 3, tầng 1, tòa nhà Trung tâm Quốc tế, số 17, phố Ngô Quyền, phường Tràng Tiền, quận Hoàn Kiếm, thành phố Hà Nội, Việt Nam, thu thập, sử dụng, tiết lộ hay nói cách khác, xử lý thông tin cá nhân liên quan đến khách hàng và khách hàng tiềm năng ("Quý khách hàng" hoặc "của Quý khách hàng") để cung cấp dịch vụ cho Quý khách hàng được tốt nhất. Lizard là

                    Lizard Malletier và/hoặc Công ty TNHH Lizard Việt Nam (sau đây gọi là "Chúng tôi" hoặc "của Chúng tôi") thu thập, lưu trữ, xử lý, sử dụng và tiết lộ thông tin cá nhân của Quý khách hàng liên quan đến hoạt động Quý khách hàng truy cập vào trang web, ứng dụng của Lizard, hoạt động sử dụng các sản phẩm thông minh của Chúng tôi (nếu có), hoặc khi Quý khách hàng ghé thăm các cửa hàng hay truy cập vào các trang mạng xã hội của Chúng tôi, tại khu vực tài phán nơi Quý khách hàng cư trú.</p>
                </div>
                <h4 style="color: black;"id="mot">1. CHÚNG TÔI THU THẬP NHỮNG LOẠI THÔNG TIN CÁ NHÂN NÀO?</h4>
                <div class="headercheck"  style="color: black; background-color: white" >
                  <p > Trong phạm vi các mục đích được mô tả trong Chính sách này, Lizardcó thể thu thập các loại thông tin cá nhân sau:

                    <br>• Thông tin nhận dạng và thông tin liên hệ (chẳng hạn như tên, địa chỉ, số điện thoại hoặc địa chỉ email) mà Quý khách hàng sẵn lòng cung cấp trong trường hợp như: khi đăng ký tài khoản trực tuyến hoặc khi điền vào thẻ thông tin khách hàng tại cửa hàng, tham gia sự kiện, tiến hành mua hàng hoặc thông tin giấy tờ tùy thân cần thiết khi Quý khách hàng yêu cầu dịch vụ “đặt hàng trực tuyến và đến lấy tại cửa hàng” (click and collect).

                    Thông tin thanh toán: chẳng hạn như thông tin thẻ tín dụng, số tài khoản ngân hàng hoặc các thông tin thanh toán khác mà Quý khách hàng phải cung cấp để nhận sản phẩm hoặc dịch vụ đã đặt hàng từ Chúng tôi.

                    <br>• Thông tin nhân khẩu như giới tính và ngày sinh của Quý khách hàng.

                    <br>• Hình ảnh của Quý khách hàng khi ghé thăm các cửa hàng của Chúng tôi (được ghi nhận từ hệ thống camera giám sát an ninh) hoặc giọng nói của Quý khách hàng khi gọi đến trung tâm Dịch vụ khách hàng của Lizard(vì cuộc gọi của Quý khách hàng có thể được ghi âm).

                    <br>• Sở thích và mối quan tâm mà Quý khách hàng chọn tiết lộ trong quá trình liên hệ hoặc tiếp xúc với các nhân viên tư vấn khách hàng của Chúng tôi. Thông tin này có thể bao gồm sở thích của Quý khách hàng về bộ sưu tập của Chúng tôi hoặc các thương hiệu sang trọng khác, số đo của Quý khách hàng, phong cách sống hay thông tin cơ bản về gia đình của Quý khách hàng.

                    <br>• Thông tin, có thể bao gồm thông tin sức khỏe, liên quan đến tác dụng bất lợi có thể do mỹ phẩm của Chúng tôi gây ra.

                    <br>• Thông tin Quý khách hàng gửi hoặc đăng ở không gian công cộng, trên các trang mạng xã hội hoặc trên trang web của Chúng tôi, chẳng hạn như thông tin đánh giá sản phẩm.

                    <br>• Thông tin mua hàng của Quý khách hàng trên kênh trực tuyến hoặc tại cửa hàng. Thông tin này có thể bao gồm các sản phẩm và giá sản phẩm mà Quý khách hàng đã mua.

                    <br>• Nếu Quý khách hàng sử dụng các trang web của Chúng tôi, Chúng tôi có thể thu thập thông tin về trình duyệt và hành vi duyệt web của Quý khách hàng.

                    <br>• Nếu sử dụng ứng dụng di động của Chúng tôi, Chúng tôi có thể thu thập vị trí GPS của Quý khách hàng (khi đã nhận được sự đồng ý của Quý khách hàng trong trường hợp cần thiết). Chúng tôi cũng có thể xem vị trí tải xuống ứng dụng và tần suất sử dụng ứng dụng của Quý khách hàng. Chúng tôi có thể thu thập thông tin về trình duyệt và hành vi duyệt web của Quý khách hàng.

                    <br>• Nếu Quý khách hàng sử dụng các sản phẩm thông minh của Chúng tôi, Chúng tôi có thể thu thập thông tin liên quan đến hoạt động sử dụng sản phẩm đó của Quý khách hàng (chẳng hạn như tính năng sản phẩm mà Quý khách hàng sử dụng nhiều nhất hoặc thông tin về mức pin), cũng như thông tin vị trí địa lý, nếu cần, để cung cấp dịch vụ mà Quý khách hàng yêu cầu;

                    Chúng tôi cũng có thể thu thập thông tin đăng trên các trang web hoặc các mạng xã hội của bên thứ ba về sản phẩm và dịch vụ của LV, khi cần sử dụng cho các mục đích nêu trong đây.

                    <br>• Thông tin cá nhân của Quý khách hàng có thể được thu thập trực tiếp (ví dụ: khi Quý khách hàng tạo tài khoản trên một trong những trang web/ứng dụng của Chúng tôi, khi mua hàng hoặc bằng cách khác, trao đổi với nhân viên tư vấn khách hàng của Chúng tôi tại các cửa hàng hoặc với trung tâm Dịch vụ khách hàng của LV); hoặc gián tiếp (ví dụ: khi sử dụng các công cụ thu thập thông tin như cookie của trình duyệt) hoặc từ các bên thứ ba (ví dụ: thông qua các nền tảng mạng xã hội).

                    <br>• Nếu Quý khách hàng chọn không gửi thông tin cá nhân khi được yêu cầu nhằm thực hiện hợp đồng hoặc khi pháp luật yêu cầu thì Quý khách hàng sẽ không nhận được sản phẩm hoặc dịch vụ mà Quý khách hàng đã đặt hàng hoặc nói cách khác, đăng ký trên các trang web, ứng dụng hoặc nền tảng truyền thông khác của Chúng tôi.

                    Một số loại thông tin cá nhân nêu trên có thể được coi là thông tin cá nhân nhạy cảm, vốn cần được bảo mật đặc biệt theo luật hiện hành, chẳng hạn như thông tin thanh toán, thông tin về sức khỏe, thông tin về vị trí thực tế của một cá nhân trong quá khứ hoặc hiện tại, v.v. Chúng tôi sẽ bảo mật những thông tin cá nhân có thể được xem là thông tin nhạy cảm của Quý khách hàng, theo đúng yêu cầu của pháp luật quốc gia và chỉ sử dụng thông tin đó cho các mục đích nêu trong Chính sách.</p>

                </div>
                <h4 style="color: black;" id="hai">2. CHÚNG TÔI SỬ DỤNG THÔNG TIN CÁ NHÂN CỦA QUÝ KHÁCH HÀNG ĐỂ LÀM GÌ?</h4>
                <div class="headercheck"  style="color: black; background-color: white" >
                  <p > Chúng tôi có thể thu thập hoặc sử dụng thông tin nêu trên cho các mục đích được nêu rõ tại thời điểm thu thập hoặc nêu trong Chính sách này như sau:

                    <br>• Để Chúng tôi có thể hiểu rõ hơn về sở thích và mối quan tâm của Quý khách hàng, cũng như hoạt động sử dụng các sản phẩm của Chúng tôi: Chúng tôi có thể sử dụng thông tin của Quý khách hàng để cải thiện trang web, ứng dụng và sản phẩm/dịch vụ của Chúng tôi. Chúng tôi có thể sử dụng thông tin của Quý khách hàng để tùy chỉnh trải nghiệm khi Quý khách hàng tương tác với Chúng tôi và điều chỉnh các hoạt động tiếp thị cho phù hợp với nhu cầu và mối quan tâm của Quý khách hàng để từ đó, Chúng tôi có thể phục vụ tốt hơn và đáp ứng được nhu cầu của Quý khách hàng.

                    <br>• Để cung cấp sản phẩm và/hoặc dịch vụ của Chúng tôi theo yêu cầu của Quý khách hàng, xử lý đơn hàng, trả lời các yêu cầu hoặc câu hỏi, cũng như quản lý các đơn khiếu nại của Quý khách hàng. Ví dụ: Chúng tôi sử dụng thông tin để xử lý đơn hàng và giao hàng cho Quý khách hàng. Ví dụ khác là Chúng tôi có thể sử dụng thông tin để gửi thông tin Quý khách hàng yêu cầu, hoặc để trao đổi với Quý khách hàng những thông tin liên quan đến tài khoản hoặc về mối quan hệ giữa Quý khách hàng và LV: Chúng tôi có thể liên hệ với Quý khách hàng để thông báo về các thay đổi đối với Trang web hoặc thông tin cập nhật dịch vụ. Chúng tôi cũng có thể liên hệ với Quý khách hàng để thu thập ý kiến phản hồi hoặc để trao đổi về các điều khoản của Chính sách này hoặc của trang web. Trong trường hợp đó, thông tin của Quý khách hàng sẽ được xử lý đúng theo hợp đồng mà Chúng tôi đã giao kết với Quý khách hàng.

                    <br>• Vì lý do bảo đảm an ninh: Chúng tôi có thể sử dụng thông tin để bảo vệ công ty, khách hàng, cộng sự và các trang web hoặc ứng dụng của Chúng tôi nhằm chống lại hành vi gian lận, trộm cắp hoặc hành vi sai trái có thể ảnh hưởng đến hoạt động của Chúng tôi, cũng như để đảm bảo an ninh cho hoạt động trực tuyến và ngoại tuyến của Chúng tôi.

                    <br>• Để quản lý tác dụng bất lợi có thể do mỹ phẩm của Chúng tôi gây ra, theo các nghĩa vụ pháp lý được quy định trong luật hiện hành, kể cả khi Chúng tôi đứng ở vai trò là nhà sản xuất mỹ phẩm.

                    <br>• Nhằm mục đích chống hàng giả và chống lại các kênh bán sản phẩm Lizardtrái pháp luật, vi phạm các điều khoản và điều kiện chung của Lizardvề hoạt động bán hàng và mạng lưới kênh phân phối tuyển chọn của Lizard(bằng cách giám sát đặc biệt gắt gao số lượng sản phẩm trong các giao dịch mua, hoặc tần suất mua sản phẩm). Điều này phục vụ lợi ích chính đáng của Chúng tôi nhằm bảo vệ Chúng tôi trước thực trạng buôn bán hàng giả trên mạng và duy trì mạng lưới kênh phân phối của Chúng tôi.

                    <br>• Để phục vụ hoạt động tiếp thị: Chúng tôi có thể sử dụng thông tin của Quý khách hàng để liên hệ (khi đã nhận được sự đồng ý của Quý khách hàng, nếu cần) về các sản phẩm mới và các chương trình ưu đãi đặc biệt mà Chúng tôi nghĩ rằng sẽ có giá trị với Quý khách hàng.

                    <br>• Để phục vụ hoạt động phân tích, Chúng tôi có thể sử dụng thông tin của Quý khách hàng để phân tích danh tiếng của Lizardhoặc các sản phẩm của Chúng tôi trên Internet và để đánh giá hiệu quả của các chiến dịch hoặc sự kiện trực tuyến hoặc ngoại tuyến, duy trì hình ảnh thương hiệu của Lizardvà tối ưu hóa các chiến dịch tiếp thị của Chúng tôi.

                    <br>• Nhằm mục đích khác: Chúng tôi sử dụng thông tin để lưu trữ hồ sơ giao dịch và các hồ sơ kinh doanh khác cho mục đích pháp lý, hành chính và kiểm toán. Chúng tôi cũng sử dụng thông tin để đáp ứng các yêu cầu về mặt pháp lý, bảo hiểm và quy trình, cũng như để đảm bảo tuân thủ các chính sách mà Chúng tôi đã thông báo cho Quý khách hàng.</p>
                </div>
                <h4 style="color: black;" id="ba">3. CHÚNG TÔI CHIA SẺ THÔNG TIN CÁ NHÂN CỦA QUÝ KHÁCH HÀNG VỚI BÊN NÀO?</h4>
                <div class="headercheck"  style="color: black; background-color: white" >
                  <p > Chúng tôi không tiết lộ hoặc chia sẻ thông tin cá nhân của Quý khách hàng mà Chúng tôi thu thập, ngoại trừ:

                    <br>• Với công ty mẹ và các công ty liên kết trực thuộc Tập đoàn Lizard: chỉ những nhân viên được ủy quyền và cần biết thông tin mới được quyền truy cập vào thông tin, cho mục đích kiểm toán nội bộ, thanh toán hoặc quản trị và để cung cấp cho Quý khách hàng chất lượng dịch vụ đồng nhất trên toàn thế giới. Quý khách hàng có thể xem danh sách các cửa hàng Lizard trên trang web của Chúng tôi;

                    <br>• Với các nhà cung cấp dịch vụ và đại lý thực hiện dịch vụ thay mặt Chúng tôi. Ví dụ: Chúng tôi chia sẻ thông tin với các nhà cung cấp có gửi email cho Chúng tôi. Chúng tôi cũng có thể chia sẻ thông tin cá nhân với những nhà cung cấp dịch vụ giúp Chúng tôi vận hành trang web và những nhà cung cấp dịch vụ mà Chúng tôi chỉ định để giao sản phẩm cho Quý khách hàng.

                    <br>• Với các đối tác kinh doanh mà Chúng tôi đã ký kết để thực hiện bất kỳ chức năng nào liên quan đến các mục đích nêu trên (khi được sự đồng ý của Quý khách hàng). Ví dụ: Chúng tôi sẽ chia sẻ thông tin với những bên thứ ba cùng tài trợ cho một sự kiện hoặc chương trình khuyến mãi với Chúng tôi.

                    <br>• Với bất kỳ bên thứ ba nào nằm trong hoạt động tái cơ cấu hoặc tổ chức lại doanh nghiệp (bao gồm cả việc giải thể hoặc thanh lý). Điều này bao gồm trường hợp Chúng tôi sáp nhập toàn bộ hoặc một phần hoạt động kinh doanh hoặc tài sản của Chúng tôi được chuyển nhượng, chuyển giao hoặc bán.

                    <br>• Khi luật pháp yêu cầu Chúng tôi phải chia sẻ thông tin hoặc khi đó là hành động cần thiết để tuân thủ luật hiện hành. Ví dụ: Chúng tôi có thể chia sẻ thông tin theo lệnh của tòa án.</p>
                </div>
                <h4 style="color: black;" id="bon">4. CÔNG CỤ THU THẬP THÔNG TIN VÀ VIỆC SỬ DỤNG COOKIE</h4>
                <div class="headercheck"  style="color: black; background-color: white" >
                  <p > Chúng tôi có thể thu thập những thông tin nhất định thông qua cookie, đèn hiệu web (web beacons) và các phương tiện tự động khác. Cookie là một tệp văn bản được lưu trong một khu vực riêng trên ổ cứng thiết bị, chẳng hạn như khi truy cập dịch vụ trực tuyến, đọc email, hay khi cài đặt hoặc sử dụng ứng dụng di động. Cookie cho phép bên gửi xác định thiết bị lưu trữ cookie đó trong thời hạn mà quyết định đồng ý còn hiệu lực (không quá 13 tháng).

                    Chúng tôi sử dụng loại cookie nào?

                    <br>• Một số cookie có thể có chức năng thu thập thông tin. Chúng tôi dựa vào thông tin đó để hỗ trợ Quý khách hàng trong quá trình duyệt web, chẳng hạn như cung cấp tùy chọn ngôn ngữ ưa dùng, ghi nhớ thông tin đăng nhập, lưu giỏ hàng hoặc danh sách sản phẩm Quý khách hàng muốn mua.

                    <br>• Các cookie khác cũng thu thập thông tin về hành vi của Quý khách hàng bằng cách thu thập các liên kết giới thiệu (khách truy cập vào trang web Chúng tôi từ đâu, họ đã bấm vào biểu ngữ nào và biểu ngữ nào đưa họ đến trang web của Chúng tôi), các trang đã truy cập, số lần truy cập trang web. Những thông tin này giúp Chúng tôi cải thiện các trang web và ứng dụng của mình, hiểu rõ hơn về sản phẩm và dịch vụ Quý khách hàng mong muốn, đồng thời, gửi thông tin cập nhật dành riêng cho Quý khách hàng và/hoặc cung cấp nội dung phù hợp hơn với Quý khách hàng trên trang web hoặc ứng dụng của Chúng tôi.

                    <br>• Chúng tôi cũng sử dụng cookie để phân tích trang web, nhằm đánh giá hoạt động của trang web và xác định những phần được truy cập nhiều nhất trên trang web, qua đó, giúp Chúng tôi cải thiện năng lực tiếp cận đối tượng của nội dung.

                    <br>• Chúng tôi sử dụng cookie để đảm bảo an toàn cho các giao dịch/hoạt động mua hàng trực tuyến thông qua việc lấy thông tin nhận dạng thiết bị, vốn giúp Chúng tôi xác định được một số đặc điểm cụ thể của thiết bị được sử dụng để đặt hàng.

                    <br>• Các trang web hoặc ứng dụng của Chúng tôi có thể chứa cookie của bên thứ ba (do các công ty quảng cáo, nhà cung cấp dịch vụ phân tích và các đơn vị khác tạo ra) để họ có thể thu thập thông tin duyệt web trên Thiết bị của Quý khách hàng, bao gồm đánh giá hiệu quả của các chiến dịch quảng cáo mà Chúng tôi triển khai trên trang web của bên thứ ba. Cookie của bên thứ ba tuân theo các chính sách về quyền riêng tư của bên thứ ba đó.

                    <br>• Chúng tôi có thể thêm chức năng chia sẻ nội dung trên trang web hoặc ứng dụng của Chúng tôi với các bên thứ ba hoặc cho bên khác biết Quý khách hàng đã duyệt xem trang web của Chúng tôi. Ví dụ như chức năng “Thích” và “Chia sẻ” do các nền tảng mạng xã hội cung cấp (“Facebook”, “Twitter”, v.v.).

                    <br>• Những mạng xã hội cung cấp các chức năng này có thể xác định được danh tính của Quý khách hàng ngay cả khi Quý khách hàng không dùng những chức năng này trên trang web của Chúng tôi. Trên thực tế, những chức năng này cho phép các nền tảng mạng xã hội theo dõi thông tin hoạt động duyệt web trên trang web của Chúng tôi bất cứ khi nào tài khoản mạng xã hội của Quý khách hàng hoạt động trong lúc Quý khách hàng duyệt xem trang web của Chúng tôi.

                    <br>• Chúng tôi không kiểm soát cách các nền tảng này thu thập dữ liệu cá nhân của Quý khách hàng trong lúc Quý khách hàng duyệt xem trang web của Chúng tôi. Vui lòng sử dụng các liên kết tương ứng để đọc Chính sách về quyền riêng tư của các mạng xã hội này để tìm hiểu cách họ sử dụng thông tin mà họ thu thập (bao gồm cả cho mục đích quảng cáo). Các Chính sách về quyền riêng tư này sẽ cung cấp thông tin về cách quản lý các tùy chọn trên tài khoản mạng xã hội của Quý khách hàng.

                    Cho phép sử dụng cookie

                    <br>• Ngoại trừ cookie chức năng hoặc cookie bảo mật, việc sử dụng cookie trên Thiết bị phụ thuộc vào lựa chọn của người dùng. Người dùng có thể tự do đưa ra và thay đổi quyết định này vào bất kỳ thời điểm nào.

                    <br>• Quý khách hàng có thể quản lý cookie trên Thiết bị bằng cách cài đặt để trình duyệt chấp nhận hoặc từ chối mọi cookie hoặc từng cookie. Các chế độ cài đặt có thể thay đổi chức năng duyệt web trên Internet của Quý khách hàng và đôi khi, có thể ảnh hưởng cả khả năng truy cập vào một số dịch vụ cần phải sử dụng cookie.

                    <br>• Trường hợp này cũng xảy ra nếu Chúng tôi hoặc một trong những đối tác kinh doanh của Chúng tôi không nhận ra được loại trình duyệt mà Thiết bị của Quý khách hàng đang sử dụng và không thể xác định được thông tin như ngôn ngữ, chế độ cài đặt màn hình hiển thị hoặc quốc gia/khu vực kết nối Internet. Chúng tôi không chịu trách nhiệm pháp lý trong trường hợp Quý khách hàng chỉ có quyền truy cập tối thiểu vào các dịch vụ của Chúng tôi do trước đó, Quý khách hàng đã xóa hoặc từ chối cookie.

                    Nếu Quý khách hàng dùng chung Thiết bị với người khác và Thiết bị đó sử dụng nhiều loại trình duyệt thì Chúng tôi không thể đảm bảo rằng các dịch vụ và quảng cáo được điều chỉnh để phù hợp với với mục đích sử dụng Thiết bị của cá nhân Quý khách hàng (nếu có) có bị ảnh hưởng từ hoạt động sử dụng của người khác hay không.</p>
                </div>
                <h4 style="color: black;" id="nam">5. CHUYỂN GIAO THÔNG TIN CÁ NHÂN CỦA QUÝ KHÁCH HÀNG</h4>
                <div class="headercheck"  style="color: black; background-color: white" >
                  <p > <br>• Thông tin Chúng tôi thu thập về Quý khách hàng có thể được chuyển giao, lưu trữ và xử lý tại các quốc gia/khu vực có pháp nhân của LV, để đảm bảo phục vụ Quý khách hàng tốt hơn khi Quý khách hàng ghé thăm Chúng tôi và phục vụ các mục đích nêu trong Chính sách này. Chúng tôi cũng có thể chuyển giao thông tin cá nhân của Quý khách hàng cho các nhà cung cấp dịch vụ liên quan đến việc bảo trì các trang web, ứng dụng hoặc mạng xã hội của Chúng tôi, hoặc bất kỳ công cụ nào khác dùng để xử lý thông tin của khách hàng hoặc khách hàng tiềm năng của Chúng tôi.

                    <br>• Khi Chúng tôi chuyển giao thông tin của Quý khách hàng, Chúng tôi sẽ đưa ra các tiêu chuẩn bảo vệ thông tin cá nhân của Quý khách hàng. Các tiêu chuẩn này tối thiểu sẽ tương đương với tiêu chuẩn do luật hiện hành quy định. Điều này có thể bao gồm việc ký kết các thỏa thuận về việc chuyển giao dữ liệu hoặc bất kỳ bằng chứng hợp lệ nào khác về việc chuyển giao dữ liệu theo luật hiện hành.

                    <br>• Chúng tôi sẽ gửi danh sách các quốc gia/khu vực thứ ba có liên quan và bản sao của các biện pháp bảo vệ này khi Quý khách hàng yêu cầu.</p>
                </div>
                <h4 style="color: black;" id="sau">6. THỜI HẠN LƯU TRỮ DỮ LIỆU</h4>
                <div class="headercheck"  style="color: black; background-color: white" >
                  <p > <br>• Thông tin cá nhân của Quý khách hàng sẽ không được lưu trữ ở dạng thức cho phép các trang web xác định danh tính trong khoảng thời gian lâu hơn mức mà LV, theo kết luận thỏa đáng Chúng tôi, cho là cần thiết để đạt được những mục đích của quá trình thu thập hoặc xử lý thông tin đó, hoặc lâu hơn mức quy định theo pháp luật hiện hành, liên quan đến thời hạn lưu trữ dữ liệu.

                    <br>• Chúng tôi sẽ ngừng lưu trữ dữ liệu cá nhân của Quý khách hàng hoặc xóa các phương tiện liên kết dữ liệu với bạn ngay khi Chúng tôi có lý do hợp lý để tin rằng việc lưu trữ dữ liệu không còn phục vụ cho mục đích của quá trình thu thập dữ liệu cá nhân và không còn cần thiết cho mục đích pháp lý hay kinh doanh nữa.</p>
                </div>
                <h4 style="color: black;" id="bay">7. QUYỀN CỦA QUÝ KHÁCH HÀNG</h4>
                <div class="headercheck"  style="color: black; background-color: white" >
                  <p > <br>• Quý khách hàng có thể yêu cầu truy cập vào thông tin cá nhân mà Chúng tôi lưu trữ, hoặc thông tin về cách thức Chúng tôi sử dụng hoặc tiết lộ thông tin cá nhân của Quý khách hàng ("yêu cầu truy cập"). Khi Quý khách hàng đưa ra yêu cầu truy cập này, Chúng tôi sẽ cung cấp cho Quý khách hàng tất cả thông tin theo yêu cầu của pháp luật. Chúng tôi có thể tính một khoản phí hợp lý cho mỗi yêu cầu truy cập. Trong trường hợp đó, Chúng tôi sẽ thông báo chi phí trước khi xử lý yêu cầu của Quý khách hàng.

                    <br>• Quý khách hàng cũng có thể yêu cầu Chúng tôi chỉnh sửa, điều chỉnh, xóa bỏ bất kỳ thông tin cá nhân của Quý khách hàng mà Chúng tôi có, cũng như thông tin không đầy đủ, chưa được cập nhật hoặc không chính xác ("yêu cầu sửa đổi"). Quý khách hàng cũng có thể yêu cầu Chúng tôi giới hạn quyền truy cập, ngừng tiết lộ, chuyển giao, cấp quyền truy cập hoặc xóa thông tin cá nhân của Quý khách hàng. Quý khách hàng cũng có quyền khiếu nại lên cơ quan giám sát có thẩm quyền.

                    <br>• Liên hệ với Chuyên viên bảo vệ dữ liệu của Chúng tôi theo địa chỉ vietnam@contact.louisvuitton.com.

                    <br>• Khi Chúng tôi sử dụng, thu thập, tiết lộ và/hoặc xử lý thông tin cá nhân theo sự chấp thuận của Quý khách hàng (ví dụ: khi Quý khách hàng chấp thuận nhận thông tin cập nhật từ Chúng tôi), Quý khách hàng có thể gửi email tới vietnam@contact.louisvuitton.com để thu hồi mọi quyết định đồng ý đã cấp cho Chúng tôi. Việc rút lại quyết định đồng ý không ảnh hưởng đến tính hợp pháp của quá trình xử lý thông tin cá nhân theo sự đồng ý của Quý khách hàng trước thời điểm rút lại, cũng như không ảnh hưởng đến quyền của Chúng tôi trong việc tiếp tục thu thập, sử dụng và tiết lộ dữ liệu cá nhân trong trường hợp pháp luật hiện hành cho phép hoặc yêu cầu thu thập, sử dụng và tiết lộ dữ liệu cá nhân mà không có sự đồng ý đó.

                    <br>• Chúng tôi tôn trọng quyết định rút lại sự đồng ý của Quý khách hàng, nhưng xin lưu ý rằng tùy vào bản chất và phạm vi yêu cầu, Chúng tôi có thể không tiếp tục cung cấp hàng hóa hoặc dịch vụ của Chúng tôi cho Quý khách hàng. Trong trường hợp đó, Chúng tôi sẽ thông báo cho Quý khách hàng trước khi hoàn tất quy trình xử lý yêu cầu ấy.

                    <br>• Để gửi yêu cầu truy cập và/hoặc yêu cầu sửa đổi, vui lòng liên hệ với Chúng tôi theo địa chỉ vietnam@contact.louisvuitton.com, Chúng tôi sẽ cố gắng phản hồi yêu cầu của Quý khách hàng trong thời gian sớm nhất có thể. Thông thường, Quý khách hàng sẽ nhận được phản hồi của Chúng tôi sẽ trong vòng mười (10) ngày làm việc. Nếu Chúng tôi không thể phản hồi yêu cầu trong vòng ba mươi (30) ngày sau khi nhận được yêu cầu đó, thì Chúng tôi sẽ thông báo cho Quý khách hàng bằng văn bản trong vòng ba mươi (30) ngày, kể từ thời điểm mà Chúng tôi có thể phản hồi yêu cầu của Quý khách hàng. Chúng tôi có thể từ chối yêu cầu thực hiện các quyền này khi pháp luật hiện hành cho phép hoặc yêu cầu Chúng tôi phải làm như vậy.</p>
                </div>
                <h4 style="color: black;" id="tam">8. BẢO VỆ THÔNG TIN CÁ NHÂN CỦA QUÝ KHÁCH HÀNG</h4>
                <div class="headercheck"  style="color: black; background-color: white" >
                  <p ><br>• Chúng tôi sẽ cung cấp mức độ bảo vệ thích hợp đối với dữ liệu cá nhân và đảm bảo áp dụng các biện pháp bảo mật phù hợp về mặt kỹ thuật lẫn tổ chức (trong đó, bao gồm việc tập huấn và đào tạo nhân viên có liên quan) để bảo vệ thông tin cá nhân, không để dữ liệu bị phá hủy một cách ngẫu nhiên hay trái phép, bị mất hoặc sửa đổi một cách ngẫu nhiên, bị tiết lộ hoặc truy cập trái phép, cũng như mọi hình thức can thiệp bất hợp pháp khác.

                    <br>• Tuy nhiên, không phương thức truyền dữ liệu nào đảm bảo an toàn tuyệt đối qua Internet. Do đó, Chúng tôi không thể đảm bảo tính bảo mật của mọi thông tin cá nhân của Quý khách hàng được lưu trữ hoặc gửi đến cho Chúng tôi. Chúng tôi khuyến khích Quý khách hàng nên thận trọng khi sử dụng Internet để truy cập các trang web, ứng dụng hoặc mạng xã hội của Chúng tôi.</p>
                </div>
                <h4 style="color: black;" id="chin">9. TRẺ EM</h4>
                <div class="headercheck"  style="color: black; background-color: white" >
                  <p > <br>• Các trang web và ứng dụng của Chúng tôi không hướng đến đối tượng là trẻ em. Chúng tôi không cố ý thu thập thông tin cá nhân của trẻ em khi không được sự cho phép của cha/mẹ hoặc người giám hộ, trừ trường hợp pháp luật hiện hành cho phép.

                    <br>• Quý khách hàng phải đủ 18 tuổi trở lên khi cung cấp thông tin cá nhân cho Chúng tôi, cũng như khi thực hiện giao dịch tại cửa hàng, trên trang web hoặc ứng dụng của Chúng tôi. Khi thực hiện giao dịch với Chúng tôi, Quý khách hàng xác nhận rằng Quý khách hàng đủ 18 tuổi trở lên và có đầy đủ khả năng để thực hiện giao dịch, cũng như bị ràng buộc về mặt pháp lý với các giao dịch đó.

                    <br>• Nếu Chúng tôi nhận được thông báo bằng văn bản qua phương thức nêu tại phần "Liên hệ với Chúng tôi" bên dưới hoặc biết rằng có trẻ vị thành niên dưới 18 tuổi đã gửi dữ liệu cá nhân cho Chúng tôi thông qua các nền tảng truyền thông của Chúng tôi hoặc qua một phương thức khác, Chúng tôi sẽ xóa thông tin cá nhân đó.</p>
                </div>
                <h4 style="color: black;" id="muoi">10. CÁC TRANG WEB CỦA BÊN THỨ BA</h4>
                <div class="headercheck"  style="color: black; background-color: white" >
                  <p > Chúng tôi có thể liên kết đến các trang web hoặc dịch vụ của bên thứ ba mà Chúng tôi không kiểm soát và được điều chỉnh bởi chính sách về quyền riêng tư của chính bên thứ ba đó. Chính sách này không áp dụng cho các trang web của bên thứ ba đó. Chúng tôi khuyến khích Quý khách hàng rà soát chính sách về quyền riêng tư đối với tất cả các trang web của bên thứ ba mà Quý khách hàng truy cập, để tìm hiểu cách họ xử lý thông tin cá nhân của Quý khách hàng.</p>
                </div>
                <h4 style="color: black;" id="muoimot">11. CÁC THAY ĐỔI ĐỐI VỚI CHÍNH SÁCH NÀY</h4>
                <div class="headercheck"  style="color: black; background-color: white" >
                  <p ><br>• Chính sách của Chúng tôi có thể thay đổi theo thời gian để phản ánh những thay đổi trong quy trình Chúng tôi xử lý thông tin cá nhân của Quý khách hàng. Chúng tôi sẽ thông báo cho Quý khách hàng về mọi thay đổi quan trọng theo yêu cầu của pháp luật. Chúng tôi sẽ đăng một bản cập nhật trên trang web của Chúng tôi.</p>
                </div>
                <h4 style="color: black;" id="muoihai">12. LIÊN HỆ VỚI CHÚNG TÔI</h4>
                <div class="headercheck"  style="color: black; background-color: white" >
                  <p > <br>• Nếu có bất kỳ câu hỏi nào liên quan đến việc bảo vệ thông tin cá nhân của Quý khách hàng, vui lòng liên hệ với Chuyên viên bảo vệ dữ liệu của Chúng tôi qua email vietnam@contact.louisvuitton.com.</p>
                </div>

              </div>
            </div>
            <div class="col-4" style="padding-top: 50px;color: aliceblue;">

              <div style=" line-height: 1rem;">
              <a href="mot">1. CHÚNG TÔI THU THẬP NHỮNG LOẠI THÔNG TIN CÁ NHÂN NÀO?</a><br>
              <a href="#hai">2. CHÚNG TÔI SỬ DỤNG THÔNG TIN CÁ NHÂN CỦA QUÝ KHÁCH HÀNG ĐỂ LÀM GÌ?</a><br>
              <a href="#ba">3. CHÚNG TÔI CHIA SẺ THÔNG TIN CÁ NHÂN CỦA QUÝ KHÁCH HÀNG VỚI BÊN NÀO?</a><br>
              <a href="#bon">4. CÔNG CỤ THU THẬP THÔNG TIN VÀ VIỆC SỬ DỤNG COOKIE</a><br>
              <a href="#nam">5. CHUYỂN GIAO THÔNG TIN CÁ NHÂN CỦA QUÝ KHÁCH HÀNG</a><br>
              <a href="#sau">6. THỜI HẠN LƯU TRỮ DỮ LIỆU</a><br>
              <a href="#bay">7. QUYỀN CỦA QUÝ KHÁCH HÀNG</a><br>
              <a href="#tam">8. BẢO VỆ THÔNG TIN CÁ NHÂN CỦA QUÝ KHÁCH HÀNG</a><br>
              <a href="#chin">9. TRẺ EM</a><br>
              <a href="#muoi">10. CÁC TRANG WEB CỦA BÊN THỨ BA</a><br>
              <a href="#muoimot">11. CÁC THAY ĐỔI ĐỐI VỚI CHÍNH SÁCH NÀY</a><br>
              <a href="#muoihai">12. LIÊN HỆ VỚI CHÚNG TÔI</a><br>
              </div>
             </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink >THÔNG BÁO PHÁP LÝ</button>
          <ng-template ngbNavContent>
            <div style="display: flex;">


              <div class="col-8" style="padding-right: 40px;">
                <div class="headercheck"  style="padding-top: 50px; color: black;  "  >
                  <h4> ĐIỀU KHOẢN VÀ ĐIỀU KIỆN SỬ DỤNG</h4>
                </div>
                <h4 style="color: black;"id="mot">PHIÊN BẢN 1.5</h4>
                <div class="headercheck"  style="color: black; " >
                  <p > Trang web này (sau đây gọi là «Trang web») do Lizard Malletier SAS xuất bản. Lizard Malletier SAS là một công ty được thành lập tại Pháp với vốn cổ phần là 21.119.700 Euro, đã đăng ký kinh doanh với Cơ quan Đăng ký Thương mại và Công ty ở Paris theo mã số 318 571 064, với trụ sở đăng ký tại số 2 rue du Pont Neuf 75001 Paris, Pháp. ĐT: + 33 1 55 80 32 00

                    Trang web sử dụng dịch vụ lưu trữ web (hosting) của Orange Business Services SA, công ty với trụ sở đăng ký tại số 1, place des Droits de l’homme 93210 Saint-Denis La Plaine, Pháp. ĐT: + 33 1 53 90 85 00

                    Đối với phần mở rộng của Trang web tại Việt Nam, Lizard Malletier SAS chỉ thiết kế và xuất bản Trang web, và không tham gia trực tiếp vào hoạt động kinh doanh, điều hành hoặc điều phối các hoạt động trên trang web đó. Để yêu cầu hỗ trợ trong nước và trao đổi với dịch vụ bán hàng, vui lòng liên hệ công ty liên kết với chúng tôi tại Việt Nam là Công ty TNHH Lizard Việt Nam, hoặc gửi yêu cầu đến theo liên hệ của Bộ phận dịch vụ khách hàng theo thông tin nêu trong Điều khoản và điều kiện cho các đơn đặt hàng qua điện thoại, hoặc qua Trang web Lizard.

                    Hoạt động truy cập vào Trang web và sử dụng nội dung trên Trang web phải tuân theo các điều kiện nêu rõ dưới đây. Với việc truy cập vào Trang web, khách truy cập được coi là đã chấp nhận không hủy ngang các điều khoản và điều kiện sử dụng Trang web, cũng như đã đồng ý tuân theo các điều khoản và điều kiện sử dụng này. Nếu khách truy cập không chấp nhận các điều khoản này, biện pháp giải quyết duy nhất là xin vui lòng ngừng sử dụng Trang web.
                    Trang web này và tất cả các tài liệu, văn bản, mã nguồn, nội dung, phần mềm, đồ họa, ảnh chụp, tranh và ảnh minh họa, định dạng, tệp, thiết bị và đường liên kết có trong đó hoặc có liên kết với Trang web (gọi chung là « Nội dung ») đều được bảo vệ theo quyền tác giả, nhãn hiệu và các quyền sở hữu trí tuệ khác do Lizard Malletier sở hữu hoặc được cấp phép sử dụng.
                    Bất kỳ ai truy cập Trang web này đều có quyền xem toàn bộ nội dung đăng trên Trang web cho mục đích cá nhân và riêng tư. Tuy nhiên, không ai được phép sử dụng hoặc sao chép (toàn bộ hoặc một phần) Nội dung cho bất kỳ mục đích nào khác, bao gồm - nhưng không giới hạn - việc sử dụng hoặc sao chép Nội dung xuất hiện trên hoặc liên quan đến bất kỳ Trang web hay ấn phẩm nào khác, hay sử dụng hoặc sao chép Nội dung nhằm trực tiếp trục lợi về mặt thương mại.
                    Các sản phẩm của Lizard® được bán độc quyền tại các cửa hàng Lizard trên toàn thế giới hoặc trong mục thương mại điện tử của Trang web chỉ có ở những quốc gia nhất định, có tên trong danh sách chi tiết trên Trang web. Hợp đồng cung cấp các hàng hóa hoặc dịch vụ hình thành thông qua Trang web phải chịu sự điều chỉnh của các điều khoản và điều kiện bán hàng riêng biệt.
                    Người mua phải chịu hoàn toàn rủi ro đối với mọi giao dịch mua nằm ngoài các điểm bán hàng này, đặc biệt là nguy cơ bất kỳ mặt hàng nào đã mua theo cách như vậy không phải là hàng chính hãng.
                    Theo các điều khoản dưới đây, Lizard Malletier thực hiện các biện pháp để đảm bảo rằng thông tin người dùng nhìn thấy thông qua Trang web là chính xác và luôn được cập nhật, nhưng chúng tôi không thể đảm bảo hay cam đoan thông tin hay tài liệu nào xuất hiện trên Trang web cũng đều chính xác, kịp thời hay hoàn chỉnh. Lizard Malletier có quyền chỉnh sửa nội dung Trang web bất cứ lúc nào mà không cần thông báo trước và không phải chịu trách nhiệm pháp lý.
                    Lizard Malletier không chịu trách nhiệm pháp lý đối với:
                    -    Bất kỳ thông tin hoặc tài liệu nào có thiếu sót hoặc nội dung không chính xác do bên thứ ba cung cấp trên Trang web
                    -    Bất kỳ sự cố nào do một hành vi hay hành động bất kỳ của một bên thứ ba gây ra khiến người dùng không truy cập được vào Trang web.
                    Bằng văn bản này, khách truy cập xác nhận rằng việc truy cập vào Trang web có thể bị gián đoạn bất kỳ lúc nào theo quyết định của Lizard nhằm mục đích bảo trì, bảo đảm an ninh hoặc vì lý do kỹ thuật khác. Lizard sẽ không chịu trách nhiệm nếu vì bất kỳ lý do gì mà Trang web không truy cập được vào bất kỳ lúc nào hoặc trong bất kỳ khoảng thời gian nào.
                    Trừ những trách nhiệm pháp lý mà Lizard Malletier không thể hạn chế hoặc loại trừ theo pháp luật, Lizard Malletier sẽ không chịu trách nhiệm pháp lý đối với khách truy cập vào Trang web hoặc bất kỳ bên thứ ba nào về bất kỳ thiệt hại trực tiếp, đặc biệt, gián tiếp, mang tính hệ quả hoặc ngẫu nhiên, thiệt hại mang tính răn đe hoặc khoản lợi nhuận bị mất, hoặc bất kỳ các thiệt hại dưới bất kỳ hình thức nào khác dựa trên cam kết đảm bảo, hợp đồng, trách nhiệm dân sự ngoài hợp đồng, sơ suất hoặc hình thức khác, ngay cả khi Lizard Malletier đã được thông báo về khả năng xảy ra thiệt hại từ việc truy cập vào Trang web, không thể truy cập vào Trang web hoặc do bất kỳ thông tin hay tài liệu nào được cung cấp trực tiếp hoặc gián tiếp thông qua Trang web hay qua hình thức khác. Điều này không ảnh hưởng đến trách nhiệm pháp lý của Lizard Malletier (nếu có) đối với trường hợp gian lận, tử vong hoặc thương tích cá nhân phát sinh từ sơ suất của Lizard Malletier.
                    Mỗi khách truy cập vào Trang web có thể tùy ý cung cấp thông tin cá nhân của mình cho Lizard Malletier để Lizard Malletier hiểu rõ hơn về kỳ vọng của khách truy cập và cung cấp thông tin về các sản phẩm hoặc dịch vụ của Lizard cho những khách truy cập đã chọn nhận thông tin đó. Nếu khách truy cập thông báo cho Lizard Malletier rằng họ muốn nhận thông tin chi tiết về các sản phẩm hoặc dịch vụ của Lizard thì Lizard có thể liên hệ với khách truy cập qua email, điện thoại hoặc thư để cung cấp cho khách thông tin chi tiết về các sản phẩm hoặc dịch vụ của Lizard hoặc bất kỳ thông tin nào khác mà Lizard Malletier tin rằng khách truy cập có thể quan tâm. Thông tin này cũng có thể được chuyển cho các công ty khác trong Tập đoàn Lizard. Việc lưu giữ và sử dụng thông tin tuân theo điều chỉnh của Đạo luật bảo vệ dữ liệu 1998 và luật pháp của Pháp, theo đó, đảm bảo thông tin cá nhân của khách truy cập được bảo vệ an toàn hơn.
                    Căn cứ vào Đạo Luật Tự do và Công nghệ thông tin “Informatique et Libertés” số 78-17 ngày 6 tháng 1 năm 1978 của Pháp, được sửa đổi vào ngày 6 tháng 8 năm 2004, khách truy cập có thể truy cập thông tin cá nhân của họ và sửa đổi hoặc xóa thông tin đó. Mỗi khách truy cập cũng có thể từ chối cho phép Lizard Malletier liên hệ mà không phải chịu phí tổn gì. Trong trường hợp đó, họ sẽ không nhận được thông tin chi tiết về các sản phẩm hoặc dịch vụ của Lizard.
                    Khách truy cập có thể gửi thư để yêu cầu thực hiện các quyền nêu trên.
                    Cookie có thể được lưu trữ trên ổ cứng máy tính của khách truy cập tại thời điểm họ kết nối với Trang web. Cookie là tệp văn bản dữ liệu nhỏ được các trang web sử dụng để mô phỏng kết nối liên tục đến trang web đó, nhằm nâng cao trải nghiệm duyệt web của khách truy cập. Khách truy cập cũng cần dùng cookie để hoàn tất phiên mua hàng của họ trong các hạng mục thương mại điện tử của Trang web. Khách truy cập có thể cài đặt tắt cookie cho trình duyệt của họ.
                    Lizard đã triển khai các biện pháp bảo mật để đảm bảo dữ liệu của khách truy cập được an toàn và bảo mật. Tuy nhiên, khách truy cập thừa nhận rằng Lizard không kiểm soát quá trình chuyển giao dữ liệu qua các cấu trúc hạ tầng viễn thông, bao gồm mạng Internet. Do đó, Lizard Malletier cảnh báo khách truy cập trước các rủi ro tiềm ẩn, liên quan đến việc sử dụng Internet khi xét đến khía cạnh này.
                    Các đường liên kết siêu văn bản đến Trang web (ngoài các trang web khác do Lizard Malletier vận hành) chỉ được đưa vào khi Lizard Malletier chấp thuận trước bằng văn bản. Lizard Malletier có thể rút lại quyết định chấp thuận này tại thời điểm bất kỳ. Lizard Malletier không chịu trách nhiệm về nội dung của trang đó.

                    Bằng văn bản này, Lizard thông báo cho khách truy cập rằng các điều khoản và điều kiện chung này có thể được sửa đổi tại bất kỳ thời điểm nào. Ngay sau khi các điều khoản và điều kiện chung sửa đổi được đăng tải trực tuyến, mỗi khách truy cập vào Trang web sẽ được coi là đã chấp nhận những điểm sửa đổi này một cách không hạn chế. Do đó, khách truy cập có trách nhiệm đọc các điều khoản và điều kiện này trước khi duyệt xem Trang web.
                    Các điều khoản và điều kiện này tuân theo điều chỉnh của luật pháp tại Pháp, liên quan đến hoạt động cung cấp và sử dụng thông tin cá nhân. Đạo luật bảo vệ dữ liệu 1998 cũng sẽ có hiệu lực áp dụng. Các tòa án của Pháp là cơ quan duy nhất có thẩm quyền quyết định đối với bất kỳ khiếu nại nào liên quan đến hoạt động sử dụng Trang web này.</p>

                </div>
              </div>

            <div class="col-md-auto" style="color: aliceblue; padding-top: 50px;">

              <div style="display: block;">
              <a href="mot">PHIÊN BẢN 1.5</a><br>
              </div>
             </div>
            </div>
          </ng-template>
        </li>

      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>

  </div>
