.nav{
  justify-content: end;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  line-height: 1.7rem;
  display: flex;

}
h4{

  margin-bottom: 2rem;
}
.nav-link{
  color: rgb(0, 0, 0);
}
.nav-tabs {
  margin-left: 12px;
}
