<div class="body">
  <div class="row container-fuild text-center" style="background-color: #ffffff; justify-content: space-between;width: 100%; height: 90px;">
    <div class=" row  " style="background-color:#ffffff; backdrop-filter: blur(5px); ">
      <div class="container headercheck"  style=" color: rgb(0, 0, 0); margin: auto;padding-right: calc(var(--bs-gutter-x) * 3);
      padding-left: calc(var(--bs-gutter-x) * 3);"  >
        <p style="margin-top: revert;">Tất Cả Sản Phẩm</p>
        <div class="buttomm" style="justify-content: center;align-items: center; margin: auto; margin-right: 0;">
            <ng-template #content let-offcanvas>
            <div class="offcanvas-header">
              <h4 class="offcanvas-title">HIỆN BỘ LỌC</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
            </div>
            <div class="offcanvas-body">
              <p>One fine body</p>
              <div class="text-end">
                <button type="button" class="btn btn-outline-dark" >HIỆN XXX SẢN PHẨN</button>
              </div>
            </div>
          </ng-template>

          <button class="btn btn-outline-secondary "(click)="openEnd(content)" style="background-color: black;">Lọc <i style="font-weight:500;" class="bi bi-filter-left"></i></button>
        </div>


      </div>
    </div>
  </div>
  <div class="container-fuild" >
    <div  class="banner">
      <div class="bg">
        <video id="background-vide" autoplay [muted]="'muted'" controls >
          <source src="assets/img/fashion2.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    </div>
    <div class="check">
      <div class="row" style="width: 100%;" >
          <div class="col" >
              <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;" >
                  <div class="overlay" >
                    <ngb-carousel *ngIf="images">
                      <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                          <img [src]="images[0]" alt="Random first slide" />
                        </div>
                        <div class="carousel-caption">
                          <h3>First slide label</h3>
                          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                          <img [src]="images[1]" alt="Random second slide" />
                        </div>
                        <div class="carousel-caption">
                          <h3>Second slide label</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                          <img [src]="images[2]" alt="Random third slide" />
                        </div>
                        <div class="carousel-caption">
                          <h3>Third slide label</h3>
                          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                      </ng-template>
                    </ngb-carousel>
                </div>
              </div>
          </div>

        <div class="col" >
            <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;">
                <div class="overlay" >
                  <ngb-carousel *ngIf="images">
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[0]" alt="Random first slide" />
                      </div>
                      <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[1]" alt="Random second slide" />
                      </div>
                      <div class="carousel-caption">
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[2]" alt="Random third slide" />
                      </div>
                      <div class="carousel-caption">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                      </div>
                    </ng-template>
                  </ngb-carousel>
              </div>
            </div>
        </div>

      <div class="col" >
          <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;" >
              <div class="overlay" >
                <ngb-carousel *ngIf="images">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[0]" alt="Random first slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>First slide label</h3>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[1]" alt="Random second slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>Second slide label</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[2]" alt="Random third slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>Third slide label</h3>
                      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                  </ng-template>
                </ngb-carousel>
            </div>
          </div>
      </div>

      <div class="col" >
          <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;">
              <div class="overlay" >
                <ngb-carousel *ngIf="images">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[0]" alt="Random first slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>First slide label</h3>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[1]" alt="Random second slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>Second slide label</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[2]" alt="Random third slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>Third slide label</h3>
                      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                  </ng-template>
                </ngb-carousel>
            </div>
          </div>
      </div>
    </div>


    </div>
  <div class="container-fuild">
    <div class="banner">
        <div class="bgg"></div>
        <div class="content text-light ">
          <div class="row text-center">
            <h4 class="h4">Bộ sưu tập Mới Nhất </h4>
          </div>
        </div>
    </div>
  </div>
  <div class="check">
    <div class="row" style="width: 100%;" >
        <div class="col" >
            <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;" >
                <div class="overlay" >
                  <ngb-carousel *ngIf="images">
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[0]" alt="Random first slide" />
                      </div>
                      <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[1]" alt="Random second slide" />
                      </div>
                      <div class="carousel-caption">
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[2]" alt="Random third slide" />
                      </div>
                      <div class="carousel-caption">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                      </div>
                    </ng-template>
                  </ngb-carousel>
              </div>
            </div>
        </div>

      <div class="col" >
          <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;">
              <div class="overlay" >
                <ngb-carousel *ngIf="images">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[0]" alt="Random first slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>First slide label</h3>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[1]" alt="Random second slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>Second slide label</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[2]" alt="Random third slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>Third slide label</h3>
                      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                  </ng-template>
                </ngb-carousel>
            </div>
          </div>
      </div>

    <div class="col" >
        <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;" >
            <div class="overlay" >
              <ngb-carousel *ngIf="images">
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </ng-template>
              </ngb-carousel>
          </div>
        </div>
    </div>

    <div class="col" >
        <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;">
            <div class="overlay" >
              <ngb-carousel *ngIf="images">
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </ng-template>
              </ngb-carousel>
          </div>
        </div>
    </div>
  </div>
  </div>
  <div class="container-fuild">
    <div class="banner">
        <div class="bgg1"></div>
        <div class="content text-light ">
          <div class="row text-center">
            <h4 class="h4">Bộ sưu tập Mới Nhất </h4>
          </div>
        </div>
    </div>
  </div>
  <div class="check">
    <div class="row" style="width: 100%;" >
        <div class="col" >
            <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;" >
                <div class="overlay" >
                  <ngb-carousel *ngIf="images">
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[0]" alt="Random first slide" />
                      </div>
                      <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[1]" alt="Random second slide" />
                      </div>
                      <div class="carousel-caption">
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[2]" alt="Random third slide" />
                      </div>
                      <div class="carousel-caption">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                      </div>
                    </ng-template>
                  </ngb-carousel>
              </div>
            </div>
        </div>

      <div class="col" >
          <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;">
              <div class="overlay" >
                <ngb-carousel *ngIf="images">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[0]" alt="Random first slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>First slide label</h3>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[1]" alt="Random second slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>Second slide label</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[2]" alt="Random third slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>Third slide label</h3>
                      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                  </ng-template>
                </ngb-carousel>
            </div>
          </div>
      </div>

    <div class="col" >
        <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;" >
            <div class="overlay" >
              <ngb-carousel *ngIf="images">
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </ng-template>
              </ngb-carousel>
          </div>
        </div>
    </div>

    <div class="col" >
        <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;">
            <div class="overlay" >
              <ngb-carousel *ngIf="images">
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </ng-template>
              </ngb-carousel>
          </div>
        </div>
    </div>
  </div>
  </div>
  <div class="container-fuild">
    <div class="banner">
        <div class="bgg2"></div>
        <div class="content text-light ">
          <div class="row text-center">
          </div>
        </div>
    </div>
  </div>
  <div class="check">
    <div class="row" style="width: 100%;" >
        <div class="col" >
            <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;" >
                <div class="overlay" >
                  <ngb-carousel *ngIf="images">
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[0]" alt="Random first slide" />
                      </div>
                      <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[1]" alt="Random second slide" />
                      </div>
                      <div class="carousel-caption">
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[2]" alt="Random third slide" />
                      </div>
                      <div class="carousel-caption">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                      </div>
                    </ng-template>
                  </ngb-carousel>
              </div>
            </div>
        </div>

      <div class="col" >
          <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;">
              <div class="overlay" >
                <ngb-carousel *ngIf="images">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[0]" alt="Random first slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>First slide label</h3>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[1]" alt="Random second slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>Second slide label</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[2]" alt="Random third slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>Third slide label</h3>
                      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                  </ng-template>
                </ngb-carousel>
            </div>
          </div>
      </div>

    <div class="col" >
        <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;" >
            <div class="overlay" >
              <ngb-carousel *ngIf="images">
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </ng-template>
              </ngb-carousel>
          </div>
        </div>
    </div>

    <div class="col" >
        <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;">
            <div class="overlay" >
              <ngb-carousel *ngIf="images">
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </ng-template>
              </ngb-carousel>
          </div>
        </div>
    </div>
  </div>
  </div>
  <div class="container-fuild">
    <div class="banner">
        <div class="bgg"></div>
        <div class="content text-light ">
          <div class="row text-center">
            <h4 class="h4">Bộ sưu tập Mới Nhất </h4>
          </div>
        </div>
    </div>
  </div>
  <div class="check">
    <div class="row" style="width: 100%;" >
        <div class="col" >
            <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;" >
                <div class="overlay" >
                  <ngb-carousel *ngIf="images">
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[0]" alt="Random first slide" />
                      </div>
                      <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[1]" alt="Random second slide" />
                      </div>
                      <div class="carousel-caption">
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[2]" alt="Random third slide" />
                      </div>
                      <div class="carousel-caption">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                      </div>
                    </ng-template>
                  </ngb-carousel>
              </div>
            </div>
        </div>

      <div class="col" >
          <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;">
              <div class="overlay" >
                <ngb-carousel *ngIf="images">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[0]" alt="Random first slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>First slide label</h3>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[1]" alt="Random second slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>Second slide label</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[2]" alt="Random third slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>Third slide label</h3>
                      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                  </ng-template>
                </ngb-carousel>
            </div>
          </div>
      </div>

    <div class="col" >
        <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;" >
            <div class="overlay" >
              <ngb-carousel *ngIf="images">
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </ng-template>
              </ngb-carousel>
          </div>
        </div>
    </div>

    <div class="col" >
        <div class="containe a img-rounded img-responsive" style="background: url(https://i.pinimg.com/564x/a9/d0/99/a9d0993f832e88af08cc821599369c98.jpg) no-repeat center ;">
            <div class="overlay" >
              <ngb-carousel *ngIf="images">
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide" />
                  </div>
                  <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </ng-template>
              </ngb-carousel>
          </div>
        </div>
    </div>
  </div>
  </div>
  <div class="container text-center" style="justify-content: space-between;">
    <div class="row align-items-end " style=" backdrop-filter: blur(5px);">
      <div class="headercheck"  style="padding-top: 25px; color: rgb(0, 0, 0);" >
        <p>Đồ Nữ</p>
      </div>
    </div>
  </div>

</div>

