<!-- <form (ngSubmit)="searchData()">
  <input type="text" [(ngModel)]="searchQuery" name="searchQuery" placeholder="Nhập từ khóa tìm kiếm">
  <button type="submit">Tìm kiếm</button>
</form> -->
<div class="row container-fuild text-center" style="background-color: #ffffff; justify-content: space-between;width: 100%; height: 90px;">
  <div class=" row  " style="background-color:#ffffff; backdrop-filter: blur(5px); ">
    <div class="container headercheck"  style=" color: rgb(0, 0, 0); margin: auto;padding-right: calc(var(--bs-gutter-x) * 3);
    padding-left: calc(var(--bs-gutter-x) * 3);"  >
      <p style="margin-top: revert;">Sản Phẩm  </p>
      <div class="buttomm" style="justify-content: center;align-items: center; margin: auto; margin-right: 0;">
          <ng-template #content let-offcanvas>
          <div class="offcanvas-header">
            <h4 class="offcanvas-title">HIỆN BỘ LỌC</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
          </div>
          <div class="offcanvas-body">
            <p>One fine body</p>
            <div class="text-end">
              <button type="button" class="btn btn-outline-dark" >HIỆN XXX SẢN PHẨN</button>
            </div>
          </div>
        </ng-template>

        <button class="btn btn-outline-secondary "(click)="openEnd(content)" style="background-color: black;">Lọc <i style="font-weight:500;" class="bi bi-filter-left"></i></button>
      </div>


    </div>
  </div>
</div>
<div class="check" >
  <div class="row" style="width: 100%;"  >
      <div class="col-3" *ngFor="let product of productList" >
        
             <div class="containe a img-rounded img-responsive"[style.background-image]="'url(' + firstImage(product.images) + ')' " style="background-repeat: no-repeat; background-position: center; background-size: cover;" >
              <div class="overlay" >
                <ngb-carousel *ngIf="product.images">
                  <ng-template ngbSlide *ngFor="let image of product.images">
                    <div class="picsum-img-wrapper">
                      <a (click)="navigateToDetail(product.id_product)"><img [src]="image" /></a>
                    </div>
                    <div class="carousel-caption">
                      <h3 style="background-color: rgba(212, 55, 0, 0.5);  color:white;">{{ product.name_product }}</h3>
                    <p style="background-color: rgba(212, 55, 0, 0.5); color:white;">{{ product.title_product}}</p>
                    </div>
                  </ng-template>
                  
                  
                </ngb-carousel>
            </div>
          </div>
        
         
      </div>



</div>


</div>

