<div class="section section-nucleo-icons" style=" padding-top: 0px; padding-bottom: 0px;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
  <div style="text-align: center; padding-top: 50px;">
    <h3>Lizrard </h3>
    <h1>Luôn Cố Gắng Và Phát Triển</h1>
  </div>
  <div class="container" style="padding-top: 50px;text-align: center; padding-bottom: 50px;">
    <div class="row">
      <div class="col-sm" >
        <a href="mentor" style="color: rgb(0, 0, 0);list-style: none; text-decoration: none">Tất Cả</a>
      </div>
      <div class="col-sm">
        <a href="fandd" style="color: rgb(0, 0, 0);list-style: none; text-decoration: none">
          Sự Hình Thành Và Phát Triển</a>
      </div>
      <div class="col-sm">
        <a href="bandf" style="color: rgb(0, 0, 0);list-style: none; text-decoration: none">Dịch Vụ Của Lizard</a>
      </div>
      <div class="col-sm">
      <a href="check7" style="color: rgb(0, 0, 0);list-style: none;">Liz Team</a>
      </div>
      <div class="col-sm">
        <a href="check8" style="color: rgb(0, 0, 0);list-style: none;text-decoration: none">Phát Triển Bền Vững </a>
      </div>
    </div>
  </div>
  <div class="container" style="background-color:#00000061; backdrop-filter: blur(5px); border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6); margin-bottom: 2rem;">
      <div class="row" style="text-align: center;">
          <div class="col-md-8 ml-auto mr-auto text-center" >
              <h2 style="padding-left: 400px;">Mentor</h2>
              <p style="padding-left: 400px;">Aptech AKA FPT  </p>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">

          <div class="row pb-5">

              <div class="col-4 text-end align-self-center">
              <h2 class="title">Nguyễn Ngọc Hùng</h2><br/>
              <h4> Designer</h4>
              <p class="description">
              Là người thiết kế chính cũng như lên ý tưởng cho web<br/>
              Kĩ năng sử dụng HTML , Bootstrap , và framework để làm đồ án lần này <br/>
              Ngoài ra còn là người lên ý tưởng thiết kế database cùng với backend <br/>
              </p><br/>
          </div>
          <div class="col-4 text-center">
              <div class="icons-container" >

                  <img src="https://scontent.fhan15-2.fna.fbcdn.net/v/t39.30808-6/325782546_529614249153569_1629904449179561546_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=174925&_nc_ohc=q_Z6TFkbd0wAX-lz6lB&_nc_ht=scontent.fhan15-2.fna&oh=00_AfCnu42OtMI-8O87rMRnN6h3OReTEYDTSFehjC0-NdxUPw&oe=64590888"width="" height="400" alt=" mars">

              </div>
          </div>
          <div class="col-4"></div>
          </div>
          <div class="row pb-5">
               <div class="col-4"></div>


          <div class="col-4 text-center">
              <div class="icons-container">
              <img src="https://scontent.fhan15-1.fna.fbcdn.net/v/t1.18169-9/15439805_1382913508388364_5146685494869721530_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=a4a2d7&_nc_ohc=0Jk46MaP6boAX-KrKRr&_nc_ht=scontent.fhan15-1.fna&oh=00_AfBGCKdA0rhZrx2fj5jcjDGpTRM21C5empsV8v5T4giNlQ&oe=647B591A"width="" height="400" alt=" mars">

          </div>
          </div>
          <div class="col-4  align-self-center">
              <h2 class="title">Phạm Ngọc Dũng </h2><br/>
              <h4>GITHUB Mentor</h4>
              <p class="description">
                Hỗ trợ các thành viên trong nhóm <br/>
                Người ở bên cả 2 lĩnh vực frontend và backend<br/>
                Hướng dẫn tất cả các thành viên trong team sử dụng github để làm việc <br/>
              </p><br/>

          </div>
          </div>


         <div class="row pb-5">

           <div class="col-4 text-end align-self-center">
              <h2 class="title">Đỗ Việt Anh </h2><br/>
              <h4>Databaser</h4>
              <p class="description">
                Người làm Backend của Lizteam<br/>
                Lên kế hoạch cho tất cả mọi hoạt động về database của nhóm và sử lý chúng <br/>
                Sử dụng PHP và modejs để xử lý các dữ liệu bên tìm ảnh <br/>
              </p><br/>
          </div>
          <div class="col-4 text-center">
              <div class="icons-container">

                  <img src="https://scontent.fhan15-2.fna.fbcdn.net/v/t1.6435-9/83227808_614121862722684_5003110079151472640_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=iFZsCF5TylEAX-tl60U&_nc_ht=scontent.fhan15-2.fna&oh=00_AfBzxcdmLb-Nstz2rbo4GqeHPG7xi8y21_Pio2TMoQtsPw&oe=647B6368"width="" height="400" alt=" mars">

              </div>
          </div>

        <div class="col-4"></div>
         </div>

         <div class="row pb-5">

          <div class="col-4"></div>
        <div class="col-4 text-center">
          <div class="icons-container">
          <img src="https://scontent.fhan15-1.fna.fbcdn.net/v/t1.6435-9/76727095_1008098639529125_6129695870796431360_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=a4a2d7&_nc_ohc=8riqSONiUDQAX8eubul&_nc_ht=scontent.fhan15-1.fna&oh=00_AfBcY41ZmfmuNITj7EpQV1GKt3gsqF4iRbr0t9tiQWlvEw&oe=647B7E92"width="" height="400" alt=" mars">

      </div>
      </div>
      <div class="col-4 align-self-center" >
          <h2 class="title">Minh Hoàng </h2><br/>
          <h4>Photograhper</h4>
          <p class="description">
            Tìm ảnh nội dung cho nhóm <br/>
            Làm silde , document <br/>
            Code 1 số web cho nhóm <br/>
          </p><br/>

      </div>
         </div>



      </div>
      <div class=" text-center" style=" background-color: rgb(255, 255, 255);width: 100%;">
        <div class="row align-items-end " style=" backdrop-filter: blur(5px);">
          <div class="headercheck"  style="padding-top: 20px; color: rgb(0, 0, 0);" >
            <p>MENTOR</p>
          </div>
        </div>
      </div>
  </div>

</div>
