
<div style="background-color: rgb(255, 255, 255);">
  <div class="container" style="background-color: rgb(255, 255, 255);color: rgb(0, 0, 0);">
    <div style="text-align: center; padding-top: 50px;">
      <h3>Lizrard </h3>
      <h1>Sự Hình Thành Và Phát Triển</h1>
    </div>
    <div class="container" style="padding-top: 50px;text-align: center;">
      <div class="row">
        <div class="col-sm" >
          <a href="mentor" style="color: rgb(0, 0, 0);list-style: none; text-decoration: none;">Tất Cả</a>
        </div>
        <div class="col-sm">
          <a href="mentor" style="color: rgb(0, 0, 0);list-style: none; text-decoration: underline;">Sự Hình Thành Và Phát Triển</a>
        </div>
        <div class="col-sm">
          <a href="bandf" style="color: rgb(0, 0, 0);list-style: none;text-decoration: none">Dịch Vụ Của Lizard</a>
        </div>
        <div class="col-sm">
        <a href="check7" style="color: rgb(0, 0, 0);list-style: none;text-decoration: none">Liz Team</a>
        </div>
        <div class="col-sm">
          <a href="check8" style="color: rgb(0, 0, 0);list-style: none;text-decoration: none">Phát Triển Bền Vững </a>
        </div>
      </div>
    </div>
    <div style="padding-top: 50px;">
      <div class="container-fuild" >
        <div  class="banner">
          <div class="bg">
            <video id="background-vide" autoplay [muted]="'muted'" controls >
              <source src="assets/img/fashion4.mp4" type="video/mp4">
            </video>
          </div>
          <div class="content text-light ">
            <div class="row text-center">

              <ul style="font-size: 7px; padding-bottom: 70px;">
                <li> Trang web của chúng tôi được tạo ra với mục đích tiếp đem lại giá trị thời trang cho tất cả mọi người .</li>
                <li>  Từ việc phát triển chung dự án các thành viên của LizTeam đã tạo ra Lizard .</li>
                <li> Sự hình thành của  được xây dựng bởi 4 thành viên mỗi người phụ trách 1 công việc cho Team.</li>
                <li>Trên bước đầu phát triển, chúng tôi luôn cố gắng tối ưu hóa trải nghiệm người dùng. Cảm ơn bạn đã đọc bài viết và sử dụng dịch vụ của chúng tôi!</li>
              </ul>
              </div>
          </div>
        </div>
        </div>
      <div style="text-align: center; padding-top: 25px;">
        <h5>Sự Hình Thành</h5>
        <h3>Lizard</h3>

      </div>
    </div>

    <div style="padding-top: 50px;">
      <div style="text-align: center;">
        <div class="footer-content pt-5 pb-5 footer-cta"style="text-align: center;">
          <div class="row">
              <div class="col-xl-4 col-lg-4 mb-50">
                  <div class="footer-widget">
                    <div class="footer-widget-heading" >
                      <a href="index.html"><img width="100%" src="https://i.pinimg.com/236x/d1/a7/67/d1a767238ec823ea952981e388edc145.jpg" ></a>
                  </div>
                      <div class="footer-text">
                          <p class="footer-widget-heading">- CAM KẾT</p>
                          <p> Chúng tôi sẽ luôn phát triển tìm xu hướng.</p>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 mb-50">
                <div class="footer-widget">
                  <div class="footer-widget-heading">
                    <a style="width: 100%;" href="index.html"><img width="100%" src="https://i.pinimg.com/236x/ff/84/f8/ff84f8445b4031a3c2db5a4f1e17c20d.jpg" ></a>
                </div>
                    <div class="footer-text">
                        <p class="footer-widget-heading">- CÁC HẠNG MỤC CHÍNH</p>
                        <p>Không chỉ dừng lại ở dự án nhỏ chúng tôi sẽ phát triển hướng tới tương lai của mỗi thành viên và mong muốn của họ của khách hàng </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 mb-50">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <a href="index.html"><img width="100%" src="https://i.pinimg.com/236x/b6/f4/1e/b6f41e6e1e74c6824b15ed4b9554283e.jpg" ></a>
              </div>
                  <div class="footer-text">
                    <p class="footer-widget-heading">- CÁC HẠNG MỤC CHÍNH</p>
                    <p>Phát triển từ các buổi học trên lớp. APTECH mang đến cho chúng tôi nguồn cảm hứng để tạo ra trang web đầu tiên của mình. Được thành lập từ năm 2022, chúng tôi cam kết sẽ phát triển trong tương lai để mang thương hiệu đến gần bạn hơn.</p>
                  </div>
              </div>
          </div>
          </div>
      </div>
      </div>
      <div style="text-align: center; padding-top: 25px;">
        <h5>Sự Phát Triển</h5>
        <h3>Lizard</h3>

      </div>

    </div>

  </div>
  <div style=" padding-top: 50px;">
    <div style="text-align: center; padding-top: 50px;width: 100%;padding-bottom: 50px;background-color: #f0f0f0;color: rgb(0, 0, 0);">
      <h6 style="text-align: center; padding-top: 20px">Thư Điện Tử </h6>
      <h1 style="text-align: center; padding-top: 20px;padding-bottom: 20px;">THÔNG TIN MỚI NHẤT TỪ THẾ GIỚI CỦA Lizard</h1>
      <button style="background-color: black; color: white; width: 250px;height: 50px;"> Đăng Ký </button>
      <h6 style="text-align: center; padding-top: 20px">Hãy là khách hàng đầu tiên cập nhật thông tin mới nhất về các sản phẩm, dịch vụ và sự kiện của Louis Vuitton. Theo dõi chúng tôi trên</h6>
      <div class="container" style="text-align: center; padding-top: 50px">
        <div class="row">
          <div class="col ">
           INSTAGRAM
          </div>
          <div class="col">
            FACEBOOK
          </div>
          <div class="col">
            TWITTER
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
