<div class="check6" style="background-color: #ffffff;height: 500px;">
  <div class="container" style="padding-top: 50px;" >
    <div class="row">
       <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" style="position: relative;">
        <li class="nav-item" style="justify-content: start; position: absolute; left: 0;align-items: center; bottom: 10%;color: rgb(0, 0, 0);font-weight: bold;" >
          ADMIN
        </li>
        <li [ngbNavItem]="1">
          <button ngbNavLink>Thêm Sản Phẩm </button>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col">
                  <form action="">
                      <div class="card">
                          <div class="card-header">
                             Thêm Sản Phẩm Mới
                          </div>
                          <div class="card-body">
                          <div class="form-group">
                              <label for="categoryId">Category ID</label>
                              <input type="text" class="form-control" name="categoryId" id="categoryId" aria-describedby="categoryId" placeholder="CategoryID">
                              <small id="categoryIdHid" class="form-text text-muted">Category ID is required</small>
                          </div>
                          <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHid" placeholder="name">
                              <small id="nameHid" class="form-text text-muted">Name is required</small>
                          </div>
                          </div>
                          <div class="card-footer text-muted">
                             <button class="btn btn-outline-primary" type="button">Lưu</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink>Sửa Sản Phẩm </button>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col">
                  <form action="">
                      <div class="card">
                          <div class="card-header">
                             Sửa Sản Phẩm
                          </div>
                          <div class="card-body">
                          <div class="form-group">
                              <label for="categoryId">Category ID</label>
                              <input type="text" class="form-control" name="categoryId" id="categoryId" aria-describedby="categoryId" placeholder="CategoryID">
                              <small id="categoryIdHid" class="form-text text-muted">Category ID is required</small>
                          </div>
                          <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHid" placeholder="name">
                              <small id="nameHid" class="form-text text-muted">Name is required</small>
                          </div>
                          </div>
                          <div class="card-footer text-muted">
                             <button class="btn btn-outline-primary" type="button">Sửa</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <button ngbNavLink>Xóa Sản Phẩm </button>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col">
                  <form action="">
                      <div class="card">
                          <div class="card-header">
                            Xóa Sản Phẩm
                          </div>
                          <div class="card-body">
                          <div class="form-group">
                              <label for="categoryId">Category ID</label>
                              <input type="text" class="form-control" name="categoryId" id="categoryId" aria-describedby="categoryId" placeholder="CategoryID">
                              <small id="categoryIdHid" class="form-text text-muted">Category ID is required</small>
                          </div>
                          <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHid" placeholder="name">
                              <small id="nameHid" class="form-text text-muted">Name is required</small>
                          </div>
                          </div>
                          <div class="card-footer text-muted">
                             <button class="btn btn-outline-primary" type="button">Xóa</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="4">
          <button ngbNavLink >Quản Lý Đơn Hàng </button>
          <ng-template ngbNavContent>
            <div class="scroll" style="z-index: 999;overflow-y: auto; height: 500px; " >
              <table class="table table-bordered table-hover container" style="z-index: 999;padding-top: 5rem;  background-color: rgba(255, 255, 255, 0.886); text-align: center; ">
                  <thead >
                  <tr>

                      <th>Số Thứ Tự</th>
                      <th>Thông Tin Khách</th>
                      <th>Thành Tiền</th>
                      <th>Hủy Đơn</th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr style="vertical-align: middle;">
                          <td ></td>
                          <td></td>
                          <td></td>
                          <td> <button class="btn btn-sm btn-danger" ><i class="bi bi-trash-fill"></i></button></td>
                      </tr>
                  </tbody>
              </table>
          </div>

          </ng-template>
        </li>
        <li [ngbNavItem]="5">
          <button ngbNavLink >Quản Lý Tài Khoản</button>
          <ng-template ngbNavContent>
            <div class="scroll" style="z-index: 999;overflow-y: auto; height: 500px; " >
              <table class="table table-bordered table-hover container" style="z-index: 999;padding-top: 5rem;  background-color: rgba(255, 255, 255, 0.886); text-align: center; ">
                  <thead >
                  <tr>

                      <th>Số Thứ Tự</th>
                      <th>Thông Tin Khách</th>
                      <th>Xóa Tài Khoản</th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr style="vertical-align: middle;">
                          <td ></td>
                          <td></td>
                          <td> <button class="btn btn-sm btn-danger" ><i class="bi bi-trash-fill"></i></button></td>
                      </tr>
                  </tbody>
              </table>
          </div>

          </ng-template>
        </li>
        <li [ngbNavItem]="6">
          <button ngbNavLink >Quản Lý Tin Nhắn</button>
          <ng-template ngbNavContent>
            <div class="scroll" style="z-index: 999;overflow-y: auto; height: 500px; " >
              <table class="table table-bordered table-hover container" style="z-index: 999;padding-top: 5rem;  background-color: rgba(255, 255, 255, 0.886); text-align: center; ">
                  <thead >
                  <tr>

                      <th>Tài Khoản</th>
                      <th>Nội Dung</th>
                      <th>Xóa Tin Nhắn</th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr style="vertical-align: middle;">
                          <td ></td>
                          <td></td>
                          <td> <button class="btn btn-sm btn-danger" ><i class="bi bi-trash-fill"></i></button></td>
                      </tr>
                  </tbody>
              </table>
          </div>

          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>

  </div>
  </div>
  <div style="padding-top:  50px;text-align: center; padding-bottom: 50px;">
    <button style="width: 200px;border: none;background-color: black;color: aliceblue;width: 40%;height: 45px;">Đăng Xuất</button>
  </div>
