
<div class="scroll container" style="z-index: 999; height: 720px;" >


    <div class="row">
      <div class="col">
        <div class="pt-5 text-center">
           <h2 >SỬA THÔNG TIN SẢN PHẨM</h2>
        </div>

        <form action="" >
          <div class="card mt-3" style="overflow-y: scroll;height: 510px;">
              <div class="card-body pt-3" >

              <div class="form-group pt-2">
                  <label for="name">ProductName</label>
                  <input type="text" class="form-control" value="{{product.productName}}" [(ngModel)]="product.productName" placeholder="name">

              </div>
              <div class="form-group pt-2">
                  <label for="name">BrandID</label>
                  <input type="number" class="form-control" value="{{product.brandID}}" [(ngModel)]="product.brandID" placeholder="name">

              </div>
              <div class="form-group pt-2">
                  <label for="name">Gender</label>
                  <input type="text" value="{{product.Gender}}" [(ngModel)]="product.Gender" class="form-control" name="name" id="name" aria-describedby="nameHid" placeholder="name">

              </div>
              <div class="form-group pt-2">
                  <label for="name">Image</label>
                  <input type="file"  value="{{product.image}}" [(ngModel)]="product.image" class="form-control" name="name" id="name" aria-describedby="nameHid" placeholder="name">

              </div>
              <div class="form-group pt-2">
                  <label for="name">Content</label>
                  <input type="text"  value="{{product.Content}}" [(ngModel)]="product.Content" class="form-control" name="name" id="name" aria-describedby="nameHid" placeholder="name">

              </div>

              <div class="form-group pt-2">
                  <label for="name">Price</label>
                  <input type="text"  value="{{product.price}}" [(ngModel)]="product.price"class="form-control" name="name" id="name" aria-describedby="nameHid" placeholder="name">

              </div>
                <div class="form-group pt-2">
                  <label for="name">OlaPrice</label>
                  <input type="text"  value="{{product.status}}" [(ngModel)]="product.status" class="form-control" name="name" id="name" aria-describedby="nameHid" placeholder="name">

              </div>

              </div>

          </div>
          <div class=" d-grid gap-2 col-6 card-footer text-muted mt-4 mx-auto text-center pb-5" >
            <button class="btn btn-outline-dark " (click)="editproduct()" type="button">Save</button>
         </div>
      </form>
      </div>
  </div>

</div>
