
<div style="background-color: rgb(255, 255, 255);">
  <div class="container" style="background-color: rgb(255, 255, 255);color: rgb(0, 0, 0);">
    <div style="text-align: center; padding-top: 50px;">
      <h3>Lizrard </h3>
      <h1>Phát Triển Bền Vững </h1>
    </div>
    <div class="container" style="padding-top: 50px;text-align: center;">
      <div class="row">
        <div class="col-sm" >
          <a href="mentor" style="color: rgb(0, 0, 0);list-style: none; text-decoration: none;">Tất Cả</a>
        </div>
        <div class="col-sm">
          <a href="fandd" style="color: rgb(0, 0, 0);list-style: none;text-decoration: none">
            Sự Hình Thành Và Phát Triển</a>
        </div>
        <div class="col-sm">
          <a href="bandf" style="color: rgb(0, 0, 0);list-style: none;text-decoration: none">Dịch Vụ Của Lizard</a>
        </div>
        <div class="col-sm">
        <a href="check7" style="color: rgb(0, 0, 0);list-style: none;text-decoration: none">Liz Team</a>
        </div>
        <div class="col-sm">
          <a href="check8" style="color: rgb(0, 0, 0);list-style: none;text-decoration: underline">Phát Triển Bền Vững </a>
        </div>
      </div>
    </div>
    <div style="padding-top: 50px;">
      <img src="assets\img\travel.jpg" alt="" width="100%">
    </div>
    <div style="text-align: center; padding-top: 50px;">
      <h5>Cam Kết </h5>
      <h1>Lizard & People For</h1>
      <h1>Wildlife</h1>
      <h5>30/01</h5>
    </div>
    <div style="text-align: center; padding-top: 50px;">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <button ngbNavLink  style="text-align: center;">Tất Cả </button>
          <ng-template ngbNavContent>
            <div class="footer-content pt-5 pb-5 footer-cta"style="text-align: center;">
              <div class="row">
                  <div class="col-xl-4 col-lg-4 mb-50">
                      <div class="footer-widget">
                        <div class="footer-widget-heading" >
                          <a href="index.html"><img width="100%" src="https://i.pinimg.com/236x/d1/a7/67/d1a767238ec823ea952981e388edc145.jpg" ></a>
                      </div>
                          <div class="footer-text">
                              <p class="footer-widget-heading">Chúng tôi có thể giúp gì cho quý khách?</p>
                              <p>Các Chuyên viên Tư vấn Khách hàng của Louis Vuitton rất hân hạnh hỗ trợ quý khách</p>
                          </div>
                          <div class="footer-social-icon">
                              <a href="https://www.facebook.com">Liên Hệ Chúng Tôi</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                      <div class="footer-widget-heading">
                        <a style="width: 100%;" href="index.html"><img width="100%" src="https://i.pinimg.com/236x/ff/84/f8/ff84f8445b4031a3c2db5a4f1e17c20d.jpg" ></a>
                    </div>
                        <div class="footer-text">
                            <p class="footer-widget-heading">Nghệ thuật tặng quà</p>
                            <p>Chọn món quà hoàn hảo từ những sản phẩm được tuyển chọn đặc biệt.</p>
                        </div>
                        <div class="footer-social-icon">
                            <a href="https://www.facebook.com">Quà Tặng Cho Nữ</a>
                            <a href="https://twitter.com/">Quà Tặng Cho Nam</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 mb-50">
                  <div class="footer-widget">
                    <div class="footer-widget-heading">
                      <a href="index.html"><img width="100%" src="https://i.pinimg.com/236x/b6/f4/1e/b6f41e6e1e74c6824b15ed4b9554283e.jpg" ></a>
                  </div>
                      <div class="footer-text">
                        <p class="footer-widget-heading">Dịch vụ cá nhân hóa</p>
                        <p>Dịch vụ cá nhân hóa của Louis Vuitton mang đến nhiều lựa chọn đa dạng</p>
                      </div>
                      <div class="footer-social-icon">
                          <a href="https://www.facebook.com">Khám Phá Bộ Sưu Tập</a>
                      </div>
                  </div>
              </div>

              <div class="col-xl-4 col-lg-4 mb-50 pt-5">
                <div class="footer-widget">
                  <div class="footer-widget-heading">
                    <a href="index.html"><img width="100%" src="https://i.pinimg.com/564x/4f/f5/8f/4ff58f1fa6b4484b6b48c12aeaaf916a.jpg" ></a>
                </div>
                    <div class="footer-text">
                      <p class="footer-widget-heading">Dịch vụ cá nhân hóa</p>
                      <p>Dịch vụ cá nhân hóa của Louis Vuitton mang đến nhiều lựa chọn đa dạng</p>
                    </div>
                    <div class="footer-social-icon">
                        <a href="https://www.facebook.com">Khám Phá Bộ Sưu Tập</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 mb-50 pt-5">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <a href="index.html"><img width="100%" src="https://i.pinimg.com/564x/d7/f4/a0/d7f4a0a37e72de23f64fb5b845618784.jpg" ></a>
              </div>
                  <div class="footer-text">
                    <p class="footer-widget-heading">Dịch vụ cá nhân hóa</p>
                    <p>Dịch vụ cá nhân hóa của Louis Vuitton mang đến nhiều lựa chọn đa dạng</p>
                  </div>
                  <div class="footer-social-icon">
                      <a href="https://www.facebook.com">Khám Phá Bộ Sưu Tập</a>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 mb-50 pt-5">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <a href="index.html"><img width="100%" src="https://i.pinimg.com/736x/ee/f4/d4/eef4d4ee71f676250732ade62665c5f2.jpg" ></a>
            </div>
                <div class="footer-text">
                  <p class="footer-widget-heading">Dịch vụ cá nhân hóa</p>
                  <p>Dịch vụ cá nhân hóa của Louis Vuitton mang đến nhiều lựa chọn đa dạng</p>
                </div>
                <div class="footer-social-icon">
                    <a href="https://www.facebook.com">Khám Phá Bộ Sưu Tập</a>
                </div>
            </div>
        </div>

              </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                1 of 2
              </div>
              <div class="col">
                2 of 2
              </div>
            </div>
          </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink  style="text-align: center;">Cam Kết</button>
          <ng-template ngbNavContent>
            <div class="footer-content pt-5 pb-5 footer-cta"style="text-align: center;">
              <div class="row">
                  <div class="col-xl-4 col-lg-4 mb-50">
                      <div class="footer-widget">
                        <div class="footer-widget-heading" >
                          <a href="index.html"><img width="100%" src="https://i.pinimg.com/564x/6f/c8/21/6fc8215e6e3a3c9f832b97286adf3435.jpg" ></a>
                      </div>
                          <div class="footer-text">
                              <p class="footer-widget-heading">Chúng tôi có thể giúp gì cho quý khách?</p>
                              <p>Các Chuyên viên Tư vấn Khách hàng của Louis Vuitton rất hân hạnh hỗ trợ quý khách</p>
                          </div>
                          <div class="footer-social-icon">
                              <a href="https://www.facebook.com">Liên Hệ Chúng Tôi</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                      <div class="footer-widget-heading">
                        <a style="width: 100%;" href="index.html"><img width="100%" src="https://i.pinimg.com/564x/61/c4/91/61c491ea6ad8945d262f357540c03acc.jpg" ></a>
                    </div>
                        <div class="footer-text">
                            <p class="footer-widget-heading">Nghệ thuật tặng quà</p>
                            <p>Chọn món quà hoàn hảo từ những sản phẩm được tuyển chọn đặc biệt.</p>
                        </div>
                        <div class="footer-social-icon">
                            <a href="https://www.facebook.com">Quà Tặng Cho Nữ</a>
                            <a href="https://twitter.com/">Quà Tặng Cho Nam</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 mb-50">
                  <div class="footer-widget">
                    <div class="footer-widget-heading">
                      <a href="index.html"><img width="100%" src="https://i.pinimg.com/564x/77/6a/47/776a479bdb2ede313785c1c42bf3ad62.jpg" ></a>
                  </div>
                      <div class="footer-text">
                        <p class="footer-widget-heading">Dịch vụ cá nhân hóa</p>
                        <p>Dịch vụ cá nhân hóa của Louis Vuitton mang đến nhiều lựa chọn đa dạng</p>
                      </div>
                      <div class="footer-social-icon">
                          <a href="https://www.facebook.com">Khám Phá Bộ Sưu Tập</a>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 mb-50 pt-5">
                <div class="footer-widget">
                  <div class="footer-widget-heading">
                    <a href="index.html"><img width="100%" src="https://i.pinimg.com/564x/57/68/a7/5768a74602711cbf0b304cd550af417e.jpg" ></a>
                </div>
                    <div class="footer-text">
                      <p class="footer-widget-heading">Dịch vụ cá nhân hóa</p>
                      <p>Dịch vụ cá nhân hóa của Louis Vuitton mang đến nhiều lựa chọn đa dạng</p>
                    </div>
                    <div class="footer-social-icon">
                        <a href="https://www.facebook.com">Khám Phá Bộ Sưu Tập</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 mb-50 pt-5">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <a href="index.html"><img width="100%" src="https://i.pinimg.com/564x/9e/bb/5f/9ebb5f49ed5f02034759702a10e3b0b1.jpg" ></a>
              </div>
                  <div class="footer-text">
                    <p class="footer-widget-heading">Dịch vụ cá nhân hóa</p>
                    <p>Dịch vụ cá nhân hóa của Louis Vuitton mang đến nhiều lựa chọn đa dạng</p>
                  </div>
                  <div class="footer-social-icon">
                      <a href="https://www.facebook.com">Khám Phá Bộ Sưu Tập</a>
                  </div>
              </div>
          </div>
              </div>
          </div>

          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <button ngbNavLink  style="text-align: center;">Các Hạng Mục Chính</button>
          <ng-template ngbNavContent>
            <div class="footer-content pt-5 pb-5 footer-cta"style="text-align: center;">
              <div class="row">
                  <div class="col-xl-4 col-lg-4 mb-50">
                      <div class="footer-widget">
                        <div class="footer-widget-heading" >
                          <a href="index.html"><img width="100%" src="https://i.pinimg.com/736x/0b/b2/12/0bb212bd095ee548b8801fcfb163a377.jpg" ></a>
                      </div>
                          <div class="footer-text">
                              <p class="footer-widget-heading">Chúng tôi có thể giúp gì cho quý khách?</p>
                              <p>Các Chuyên viên Tư vấn Khách hàng của Louis Vuitton rất hân hạnh hỗ trợ quý khách</p>
                          </div>
                          <div class="footer-social-icon">
                              <a href="https://www.facebook.com">Liên Hệ Chúng Tôi</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                      <div class="footer-widget-heading">
                        <a style="width: 100%;" href="index.html"><img width="100%" src="https://i.pinimg.com/564x/91/5d/92/915d9238802bd0052bae0996e0c9c2d0.jpg" ></a>
                    </div>
                        <div class="footer-text">
                            <p class="footer-widget-heading">Nghệ thuật tặng quà</p>
                            <p>Chọn món quà hoàn hảo từ những sản phẩm được tuyển chọn đặc biệt.</p>
                        </div>
                        <div class="footer-social-icon">
                            <a href="https://www.facebook.com">Quà Tặng Cho Nữ</a>
                            <a href="https://twitter.com/">Quà Tặng Cho Nam</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 mb-50">
                  <div class="footer-widget">
                    <div class="footer-widget-heading">
                      <a href="index.html"><img width="100%" src="https://i.pinimg.com/564x/8c/5a/f6/8c5af64271094e5769f7793e37bd8503.jpg" ></a>
                  </div>
                      <div class="footer-text">
                        <p class="footer-widget-heading">Dịch vụ cá nhân hóa</p>
                        <p>Dịch vụ cá nhân hóa của Louis Vuitton mang đến nhiều lựa chọn đa dạng</p>
                      </div>
                      <div class="footer-social-icon">
                          <a href="https://www.facebook.com">Khám Phá Bộ Sưu Tập</a>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 mb-50 pt-5">
                <div class="footer-widget">
                  <div class="footer-widget-heading">
                    <a href="index.html"><img width="100%" src="https://i.pinimg.com/564x/a0/60/d9/a060d9fbcc16f266bb2636da5ddccf70.jpg" ></a>
                </div>
                    <div class="footer-text">
                      <p class="footer-widget-heading">Dịch vụ cá nhân hóa</p>
                      <p>Dịch vụ cá nhân hóa của Louis Vuitton mang đến nhiều lựa chọn đa dạng</p>
                    </div>
                    <div class="footer-social-icon">
                        <a href="https://www.facebook.com">Khám Phá Bộ Sưu Tập</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 mb-50 pt-5">
              <div class="footer-widget">
                <div class="footer-widget-heading">
                  <a href="index.html"><img width="100%" src="https://i.pinimg.com/736x/f1/33/cb/f133cb10d1db2066b655d67000789429.jpg" ></a>
              </div>
                  <div class="footer-text">
                    <p class="footer-widget-heading">Dịch vụ cá nhân hóa</p>
                    <p>Dịch vụ cá nhân hóa của Louis Vuitton mang đến nhiều lựa chọn đa dạng</p>
                  </div>
                  <div class="footer-social-icon">
                      <a href="https://www.facebook.com">Khám Phá Bộ Sưu Tập</a>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 mb-50 pt-5">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <a href="index.html"><img width="100%" src="https://i.pinimg.com/564x/9a/fd/0f/9afd0fbb225f9c8b4a73df853dc342fd.jpg" ></a>
            </div>
                <div class="footer-text">
                  <p class="footer-widget-heading">Dịch vụ cá nhân hóa</p>
                  <p>Dịch vụ cá nhân hóa của Louis Vuitton mang đến nhiều lựa chọn đa dạng</p>
                </div>
                <div class="footer-social-icon">
                    <a href="https://www.facebook.com">Khám Phá Bộ Sưu Tập</a>
                </div>
            </div>
        </div>
              </div>
          </div>
          <div style="padding-top: 50px;">
            <img src="assets\img\travel.jpg" alt="" width="100%">
          </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>

    </div>

  </div>
  <div style="text-align: center; padding-top: 50px;width: 100%;padding-bottom: 50px;background-color: #f0f0f0;color: rgb(0, 0, 0);">
    <h6 style="text-align: center; padding-top: 20px">Thư Điện Tử </h6>
    <h1 style="text-align: center; padding-top: 20px;padding-bottom: 20px;">THÔNG TIN MỚI NHẤT TỪ THẾ GIỚI CỦA Lizard</h1>
    <button style="background-color: black; color: white; width: 250px;height: 50px;"> Đăng Ký </button>
    <h6 style="text-align: center; padding-top: 20px">Hãy là khách hàng đầu tiên cập nhật thông tin mới nhất về các sản phẩm, dịch vụ và sự kiện của Louis Vuitton. Theo dõi chúng tôi trên</h6>
    <div class="container" style="text-align: center; padding-top: 50px">
      <div class="row">
        <div class="col ">
         INSTAGRAM
        </div>
        <div class="col">
          FACEBOOK
        </div>
        <div class="col">
          TWITTER
        </div>
      </div>
    </div>
  </div>
</div>
