<section>
  <div class="container pt-5">
      <div class="row">
          <div class="col">
              <div class="row">
                  <h3 class="pb-3">THÔNG TIN GIAO HÀNG </h3>
                  <div class="row pb-5">
                      <div class="col-1" style="padding-right: 0 ; width: 5% ;"><i class="bi bi-geo-alt text-danger"></i> </div>
                      <div class="col ps-0">
                          <p style="color: #8B8A8A;">Địa chỉ giao hàng</p>
                          <p>Hùng</p>
                          <p>SĐT : 0987654321</p>
                          <p>264 Đội Cấn , Ba ĐÌnh , Hà Nội</p>
                      </div>
                      <div class="col-2 text-end">
                          <a href="">chỉnh sửa</a>
                      </div>
                  </div>
              </div>
              <div class="packit pb-5">
                  <h3 class="pb-3"> GÓI HÀNG </h3>
                  <div class="row pb-4">

                  <div class="col-2">
                      <img src="https://i.pinimg.com/564x/ea/8f/95/ea8f95cf2ed79fc4dab98a9abfe284e9.jpg" alt="">
                  </div>
                  <div class="col">
                      <h5>têm sản phẩm </h5>
                      <p style="font-size: 14px;color: #8B8A8A;">loại , màu </p>
                      <p>Số lượng: 1 </p>
                  </div>
                  <div class="col-2 ">
                      <h4 class="text-success">$12345</h4>
                  </div>
              </div>
              <div class="row">

                  <div class="col-2">
                      <img src="https://i.pinimg.com/564x/ea/8f/95/ea8f95cf2ed79fc4dab98a9abfe284e9.jpg" alt="">
                  </div>
                  <div class="col">
                      <h5>têm sản phẩm </h5>
                      <p style="font-size: 14px;color: #8B8A8A;">loại , màu </p>
                      <p>Số lượng :1 </p>
                  </div>
                  <div class="col-2 ">
                      <h4 class="text-success">$12345</h4>
                  </div>
              </div>
              </div>

          </div>
          <div class="col-5" style="line-height: 1.5;">
              <div class="row pb-5">
                  <h4 style="padding-bottom: 1rem;">PHƯƠNG THỨC THANH TOÁN</h4>
                  <select class="form-select border border-dark-subtle rounded-0"  aria-label="Default select example">
                      <option selected>Chọn phương thức thanh toán </option>
                      <option value="1">Thanh toán khi nhận hàng</option>
                      <option value="2">internet banking</option>
                      <option value="3">Thẻ tín dụng/Thẻ ghi nợ</option>
                    </select>

              </div>
              <div class="row pb-3">
                  <div class="input-group mb-3 border border-dark-subtle pe-0 ps-0">
                      <input type="text" class="form-control" placeholder="Mã giảm giá" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-outline-secondary rounded-0" type="button" id="button-addon2">ÁP DỤNG</button>
                    </div>
              </div>
              <div class="row pb-5">
                  <div class="col"><h5>Thông tin liên hệ và hóa đơn</h5></div>
                  <div class="col-2 text-end">xxxxxxx</div>
              </div>
              <div class="row pb-4">
                  <h5>Thông tin đơn hàng</h5>
                  <div class="row pb-2">
                      <div class="col">Tạm tính(1sanr phẩm )</div>
                      <div class="col-2 text-end">$1234</div>
                  </div>
                  <div class="row pb-2">
                      <div class="col">Phí vận chuyển</div>
                      <div class="col-2 text-end">$1234</div>
                  </div>
              </div>
              <div class="row pb-4">
                  <div class="col">
                      <h3>TỔNG</h3>
                  </div>
                  <div class="col-2 text-end">
                      <h3 class="text-success">$1234</h3>
                  </div>
              </div>
              <button class="btn btn-primary w-100 rounded-0" type="button" style="background-color: black;border: none;">ĐẶT HÀNG</button>
          </div>

      </div>
  </div>
</section>
