<div style="background-color: black;">
  <div class="" style="background-color: rgb(255, 255, 255);color: rgb(0, 0, 0);">
    <div style="text-align: center; padding-top: 50px;">
      <h3>Lizrard </h3>
      <h1>Các Dịch Vụ Của Lizard</h1>
    </div>
    <div class="container" style="padding-top: 50px;text-align: center;">
      <div class="row">
        <div class="col-sm" >
          <a href="mentor" style="color: rgb(0, 0, 0);list-style: none; text-decoration: none;">Tất Cả</a>
        </div>
        <div class="col-sm">
          <a href="mentor" style="color: rgb(0, 0, 0);list-style: none;text-decoration: none">Sự Hình Thành Và phát Triển</a>
        </div>
        <div class="col-sm">
          <a href="bandf" style="color: rgb(0, 0, 0);list-style: none; text-decoration: underline;">Dịch Vụ Của Lizard</a>
        </div>
        <div class="col-sm">
        <a href="check7" style="color: rgb(0, 0, 0);list-style: none;text-decoration: none">Liz Team</a>
        </div>
        <div class="col-sm">
          <a href="check8" style="color: rgb(0, 0, 0);list-style: none;text-decoration: none">phát Triển Bền Vững </a>
        </div>
      </div>
    </div>
    <div style="padding-top: 50px;">
      <div class="container-fuild" >

          <div class="bg">
            <video id="background-vide" autoplay [muted]="'muted'" controls >
              <source src="assets/img/fashion4.mp4" type="video/mp4">
            </video>

          </div>
          <!-- <div class="content text-light ">
            <div class="row text-center" style="padding-bottom: 50px;">
              <h6 class="h4" style="width: 600px;font-size: 15px;">DỊCH VỤ CỦA LIZARD </h6>
              <p style="font-size: 10px;">kéo xuống để xem thêm </p>
            </div>
          </div> -->

              <div class="row text-center " style="align-items: end;height: 100%;padding-bottom: 20px;color: white;" >
              <div class="col align-self-end" style="z-index: 111;">
                  <h6 class="h4" style="font-size: 38px;">DỊCH VỤ CỦA LIZARD </h6>
                  <p style="font-size: 16px;">kéo xuống để xem thêm </p>
              </div>

          </div>



        </div>
    </div>
    <div class="container-fuild" style="color: white;">

          <div class="bgg" >
            <div class="banner">
              <div class="row text-center" style="z-index: 111; margin-top: 10px;justify-content: space-between;">
              <div class="col pe-3 text-end">
                Dịch Vụ Cá Nhân Hóa
              </div>
              <div class="col ps-3 text-start ">
                Nghệ Thuật Tặng Quà
              </div>
            </div>
            </div>

            <div class="row  text-center" style="padding-top: 600px;">
              <div class="row text-center pb=5">
                <div class="col pb-3">
                  Chọn món quà hoàn hảo từ những sản phẩm được tuyển chọn đặc biệt.
                </div>

            </div>
            <div class="row text-center ">
              <div class="col text-end" style="text-decoration: underline; padding-bottom: 10px;">
                <a>Quà tặng cho Nam</a>
              </div>
              <div class="col text-start" style="text-decoration: underline; padding-bottom: 10px;">
                <a>Qùa tặng cho Nữ</a>
              </div>
            </div>
            </div>


          </div>
          <!-- <div class="content text-light pt-0">
            <div class="row text-center align-items-end">
              <div class="container text-center">
                <div class="row" style="justify-content: start;">
                  <div class="col">
                    Dịch Vụ Cá Nhân Hóa
                  </div>
                  <div class="col">
                   Nghệ Thuật Tặng Quà
                  </div>
                </div>
                <p style="font-size: 10px;">Chọn món quà hoàn hảo từ những sản phẩm được tuyển chọn đặc biệt.</p>
                <div class="row nut  ">
                  <div class="col">
                    <button>Nam</button>
                  </div>
                  <div class="col">
                    <button>Nữ</button>
                  </div>
                </div>
              </div>
            </div>
          </div> -->



    </div>
    <div class="container-fuild">

          <div class="bggg">
            <div class="row text-center  align-items-end" style="height: 100%;z-index: 111; width: 500px; margin: auto;">
              <div class="col justify-content-center mb-5" style="color: white;">
                <h6 class="h4" style="font-size: 24px;">Bao Bì Đặc Trưng Của Lizard</h6>
                <p style="font-size: 18px;">Lizard cung cấp dịch vụ gói quà cho tất cả đơn hàng, được đóng gói một cách cẩn thận trong chiếc hộp biểu tượng của thương hiệu. Hãy thêm điểm nhấn đặc biệt bằng một tấm thiệp ghi lời nhắn khi gửi quà.</p>
              </div>
            </div>


          </div>
          <!-- <div class="content text-light ">
            <div class="row text-center"style="padding-bottom: 50px;">
              <h6 class="h4" style="width: 600px;font-size: 15px;">Bao Bì Đặc Trưng Của Lizard</h6>
              <p style="font-size: 10px;">Lizard cung cấp dịch vụ gói quà cho tất cả đơn hàng, được đóng gói một cách cẩn thận trong chiếc hộp biểu tượng của thương hiệu. Hãy thêm điểm nhấn đặc biệt bằng một tấm thiệp ghi lời nhắn khi gửi quà.</p>
            </div>
          </div> -->



    </div>
    <div class="container-fuild" >

        <div class="bg " style="position: relative;">
          <video id="background-vide" autoplay [muted]="'muted'" controls >
            <source src="assets/img/fashion4.mp4" type="video/mp4">
          </video>
          <div class="content text-light text-center " style="z-index: 111; position: absolute;align-content: center;top: 0; width: 100%;height: 100%;  ">
            <div class="row text-center align-items-center"style="width: 50%; margin: auto; height: 100%;">
              <div class="col">
                <p style="font-size: 24px;">Chúng Tôi Có Thể Giúp Gì Cho Bạn</p>
              <h6 class="h4" style="font-size: 64px;">Các Chuyên Viên Tư Vấn Khách Hàng Của Lizard Rất Hân Hạnh Hỗ Trợ Quý Khách</h6>
              <p style="font-size: 18px;">Liên Hệ Với Chúng Tôi Qua Số Điện Thoại Hoặc Email</p>
              <p style="font-size: 18px;">Hotline: 0333452030</p>
              <p style="font-size: 18px;">Email: Lizard@gmail.fashion.vn</p>
              </div>

            </div>
          </div>
        </div>


      </div>
 </div>

</div>
