#background-vide{

  height: 100vh;
    width: 100%;
    object-fit: cover;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

}
#background-videoo{
  height: 100px;
  width: 100%;
  object-fit: cover;

  top: 0;
  bottom: 0;
  z-index: -1;

}
.container-fuild{
  height: 100vh;
  perspective: 20px;
}

.bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: translateZ(-10px) scale(1.);
}
.bgg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(src\assets\img\man.jpg);
  background-size: cover;
  background-position: center;
  transform: translateZ(-10px) scale(1.);
}
.bggg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(src\assets\img\woman.jpg);
  background-size: cover;
  background-position: center;
  transform: translateZ(-10px) scale(1.);
}

#background-vide{

  height: 100vh;
    width: 100%;
    object-fit: cover;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

}
#background-videoo{
  height: 100px;
  width: 100%;
  object-fit: cover;

  top: 0;
  bottom: 0;
  z-index: -11;

}
.container-fuild{
  height: 100vh;
  perspective: 20px;
}

.bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: translateZ(-10px) scale(1.);
}


.nut button {
  background: none;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(207, 207, 207);
  border-radius: 15px;
  padding: 5px 20px;
  width: 100%;
  transition: .1s;
  font-size: x-small;



}
.nut {
  height: 100px;
}
.nut button:hover {
  border: 1.7px solid white;
  border-spacing: 2px;
  transition: .1s;
}
.row>* {
  padding-left: 5px;
  padding-right: 5px;
}
.bgg> .banner{
  padding-top: 15px;
  padding-bottom: 15px;
}
.bgg > .banner:hover .bgg~.row{
  background-color: aliceblue;
  color: rgb(255, 255, 255);
}

.row{
  --bs-gutter-x: 0;
}
